<div class="footer-wrapper">
    <div class="menu">
        <a href="/en/visitPage.html">ABOUT</a>
        <a href="/en/contact.html">CONTACT US</a>
        <a href="/en/new&media.html">MEDIA</a>
        <a href="https://www.lcsd.gov.hk/en/facilities/facilitieslist/parks.html" target="_blank">OTHER PARKS</a>
        <a href="https://www.lcsd.gov.hk/en/index.html" target="_blank">Back to LCSD</a>
    </div>
    <table class="list-group">
        <tr>
            <th><a href="/en/index.html">HOME</a></th>
            <th><a href="/en/visitPage.html">VISIT</a></th>
            <th><a href="/en/animals.html">ANIMALS</a></th>
            <th><a href="/en/plants.html">PLANTS</a></th>
        </tr>
        <tr>
            <td class="list-group-item">
                <ul>
                    <li><a href="/en/plants/month.html#2022">FLOWERING PLANTS OF THE MONTH</a></li>
                    <li><a href="/en/animals/mammals/animals_11.html">FEATURED ANIMALS</a></li>
                    <li><a class="toAnchor" href="/en/ConservationAndEducation.html#activities">ACTIVITIES</a></li>
                </ul>
            </td>
            <td class="list-group-item">
                <ul>
                    <li><a href="/en/visitPage.html#garden-info">OPENING HOURS AND ADMISSION</a></li>
                    <li><a href="/en/visitPage.html#guide-info">GETTING HERE</a></li>
                    <li><a href="/en/map.html">GARDEN MAP AND FACILITIES</a></li>
                    <li><a href="/en/guided_visit.html">GUIDED VISITS</a></li>
                </ul>
            </td>
            <td class="list-group-item">
                <ul>
                    <li><a onClick="load_program_list('mammals')" href="/en/animals.html#mammals">MAMMALS</a></li>
                    <li><a onClick="load_program_list('birds')" href="/en/animals.html#birds">BIRDS</a></li>
                    <li><a onClick="load_program_list('reptiles')" href="/en/animals.html#reptiles">REPTILES</a></li>
                </ul>
            </td>
            <td class="list-group-item">
                <ul>
                    <li><a href="/en/plants/OVT.html">OLD AND VALUABLE TREES</a></li>
                    <li><a href="/en/plants/special.html">SPECIAL AND RARE SPECIES</a></li>
                    <li><a href="/en/plants/month.html#2022">FLOWERING PLANTS OF THE MONTH</a></li>
                    <li><a href="/en/plants/thematic.html">THEMATIC GARDENS</a></li>
                    <li><a href="https://www.lcsd.gov.hk/en/green/blossoms.html" target="_blank">BLOSSOMS AROUND TOWN</a></li>
                    <li><a href="/en/plants/greenhouse.html">THE GREEN HOUSE</a></li>
                </ul>
            </td>
        </tr>
    </table>

    <table class="list-group">
        <tr>
            <th><a href="/en/heritage & history.html">HERITAGE AND HISTORY</a></th>
            <th><a href="/en/ConservationAndEducation.html">CONSERVATION AND EDUCATION</a></th>
            <th><a href="/en/new&media.html">MEDIA AND DOWNLOAD</p></th>
                <th><a href="/en/150th.html"> CELEBRATORY ACTIVITY OF 150TH ANNIVERSARY OF HKZBG</a></th>
        </tr>
        <tr>
            <td class="list-group-item">
                <ul>
                    <li><a href="/en/heritage/history.html">HISTORY OF THE GARDENS</a></li>
                    <li><a href="/en/heritage/memorial.html">CHINESE WAR MEMORIAL</a></li>
                    <li><a href="/en/heritage/statuekg.html">BRONZE STATUE</a></li>
                    <li><a href="/en/heritage/fountain.html">FOUNTAIN</a></li>
                    <li><a href="/en/heritage/pavilion.html">PAVILION</a></li>
                    <li><a href="/en/heritage/stonepillar.html">STONE PILLAR</a></li>
                    <li><a href="/en/heritage/gatepillars.html">GARDEN ROAD ENTRANCE GATE PILLARS</a></li>
                    <li><a href="/en/heritage/steps.html">FLIGHT OF STEPS LEADING TO FOUNTAIN TERRACE</a></li>
                </ul>
            </td>
            <td class="list-group-item">
                <ul>
                    <li><a class="toAnchor" href="/en/ConservationAndEducation.html#activities">ACTIVITIES</a></li>
                    <li><a href="/en/education.html">ZOOLOGICAL EDUCATION</a></li>
                    <li><a href="../en/happy@park.html">Flower Viewing and Sketching．Hong Kong Zoological and Botanical Gardens</a></li>
                    <li><a href="/en/zoo_education.html ">Zoological Education Exhibition 2022</a></li>
                </ul>
            </td>
            <td class="list-group-item">
                <ul>
                    <li><a href="/en/new&media.html">VIDEO GALLERY</a></li>
                    <li><a class="toAnchor" href="/en/new&media.html#photo-gallery">PHOTO GALLERY</a></li>
                    <li><a class="toAnchor " href="/en/new&media.html#download ">DOWNLOAD</a></li>
                </ul>
            </td>
            <td class="list-group-item ">
                <ul>
                    <li><a href="/en/roving.html ">ROVING EXHIBITION ON 150TH ANNIVERSARY</a></li>
                    <li><a href="/en/guided_visit.html ">GUIDED VISITS</a></li>
                    <li><a href="/en/competition.html ">PHOTO AND SHORT VIDEO COMPETITION</a></li>
                    <li><a href="/en/musical.html ">KICK-OFF CEREMONY OF 150TH ANNIVERSARY OF HKZBG CUM EVENING MUSICAL PERFORMANCE</a></li>
                    <li><a href="/assets/pdf/Thematic Talks on Greening and Conservation.pdf " target="_blank ">THEMATIC TALKS ON GREENING AND CONSERVATION</a></li>

                    <li><a href="/en/hor_education.html ">HORTICULTURAL EDUCATION EXHIBITION 2021</a></li>
                    <li><a href="/en/showcase.html ">150TH ANNIVERSARY SHORT VIDEOS GALLERY</a></li>
                    <li><a href="/en/ChristmasCarnival150th.html ">CHRISTMAS CARNIVAL</a></li>

                </ul>
            </td>
        </tr>
    </table>
    <div class="info ">
        <div class="left ">
            <a href="https://www.lcsd.gov.hk/en/"><img src="/assets/images/logo/img-footer-lcsd.png "></a>
            <a href="https://www.gov.hk/en/"><img src="/assets/images/logo/img-footer-govhk.png "></a>
            <a href="https://www.brandhk.gov.hk/en/"><img src="/assets/images/logo/img-footer-dragon.png "></a>
            <a href="https://www.w3.org/TR/WCAG20/"><img width="150 " src="/assets/images/logo/wcag2.svg "></a>
        </div>
        <div class="right ">
            <p class="link "><a href="/en/sitemap.html ">SITEMAP</a></p>
            <p class="link "><a href="https://www.lcsd.gov.hk/en/notice.html " target="_blank ">IMPORTANT NOTICES</a></p>
            <p class="link "><a href="https://www.lcsd.gov.hk/en/info_pdo.html " target="_blank ">PRIVACY POLICY</a></p>
            <a class="share fb ">
                <img src="/assets/images/common/sns_fb.png ">
            </a>
            <a href="# ">
                <img src="/assets/images/common/sns_ig.png ">
            </a>
            <a class="share tw ">
                <img src="/assets/images/common/sns_twitter.png ">
            </a>
            <a class="share wb ">
                <img src="/assets/images/common/sns_weibo.png ">
            </a>
            <a class="share email ">
                <img src="/assets/images/common/sns_email.png ">
            </a>
            <a href="# ">
                <img src="/assets/images/common/sns_youtube.png ">
            </a>
        </div>
    </div>
    <div class="copyright ">COPYRIGHT © 2021 LEISURE AND CULTURAL SERVICES DEPARTMENT. ALL RIGHT RESERVED.</div>
</div>

<script>
    $('html').attr('lang', 'en');

    $('html').find('img').each(
        function() {
            var alt = $(this).attr('alt');
            if (typeof alt == undefined || alt == null || alt == "") {
                var src = $(this).attr('src');
                src = src.replace(/^.*[\\\/]/, '');
                src = src.split('.')[0];
                $(this).attr('alt', src);
            }
        }
    );
</script>