<div class="wrapper">
    <div class="left">
        <a href="/en/index.html" style="display: block;"><img src="/assets/images/logo/logo_hkzbg_v3.jpg" alt="logo" /></a>
    </div>
    <div class="right">
        <div class="menu">
            <img id="open-menu-btn" src="/assets/images/common/icon_menu_v2.png" alt="menu" />
            <p>MENU</p>
        </div>
        <div class="open-menu">
            <div class="menu-block">
                <p><a href="/en/index.html">HOME</a></p>
                <ul class="sub-menu-block">
                    <li><a href="/en/plants/month.html#2022">FLOWERING PLANTS OF THE MONTH</a></li>
                    <li><a href="/en/animals/mammals/animals_11.html">FEATURED ANIMALS</a></li>
                    <li><a href="/en/ConservationAndEducation.html#activities">ACTIVITIES</a></li>
                </ul>
            </div>
            <div class="menu-block">
                <p><a href="/en/visitPage.html">VISIT</a></p>
                <ul class="sub-menu-block">
                    <li><a href="/en/visitPage.html#garden-info">OPENING HOURS AND ADMISSION</a></li>
                    <li><a href="/en/visitPage.html#guide-info">GETTING HERE</a></li>
                    <li><a href="/en/map.html">GARDEN MAP AND FACILITIES</a></li>
                    <li><a href="/en/guided_visit.html">GUIDED VISITS</a></li>
                </ul>
            </div>
            <div class="menu-block">
                <p><a href="/en/animals.html">ANIMALS</a></p>
                <ul class="sub-menu-block">
                    <li><a onClick="load_program_list('mammals')" href="/en/animals.html#mammals">MAMMALS</a></li>
                    <li><a onClick="load_program_list('birds')" href="/en/animals.html#birds">BIRDS</a></li>
                    <li><a onClick="load_program_list('reptiles')" href="/en/animals.html#reptiles">REPTILES</a></li>
                </ul>
            </div>
            <div class="menu-block">
                <p><a href="/en/plants.html">PLANTS</a></p>
                <ul class="sub-menu-block">
                    <li><a href="/en/plants/OVT.html">OLD AND VALUABLE TREES</a></li>
                    <li><a href="/en/plants/special.html">SPECIAL AND RARE SPECIES</a></li>
                    <li><a href="/en/plants/month.html#2022">FLOWERING PLANTS OF THE MONTH</a></li>
                    <li><a href="/en/plants/thematic.html">THEMATIC GARDENS</a></li>
                    <li><a href="https://www.lcsd.gov.hk/en/green/blossoms.html">BLOSSOMS AROUND TOWN</a></li>
                    <li><a href="/en/plants/greenhouse.html">THE GREEN HOUSE</a></li>
                </ul>
            </div>
            <div class="menu-block">
                <p><a href="/en/heritage & history.html">HERITAGE & HISTORY</a></p>
                <ul class="sub-menu-block">
                    <li><a href="/en/heritage/history.html">HISTORY OF THE GARDENS</a></li>
                    <li><a href="/en/heritage/memorial.html">CHINESE WAR MEMORIAL</a></li>
                    <li><a href="/en/heritage/statuekg.html">BRONZE STATUE</a></li>
                    <li><a href="/en/heritage/fountain.html">FOUNTAIN</a></li>
                    <li><a href="/en/heritage/pavilion.html">PAVILION</a></li>
                    <li><a href="/en/heritage/stonepillar.html">STONE PILLAR</a></li>
                    <li><a href="/en/heritage/gatepillars.html">GARDEN ROAD ENTRANCE GATE PILLARS</a></li>
                    <li><a href="/en/heritage/steps.html">FLIGHT OF STEPS LEADING TO FOUNTAIN TERRACE</a></li>
                </ul>
            </div>
            <div class="menu-block">
                <p><a href="/en/ConservationAndEducation.html">CONSERVATION & EDUCATION</a></p>
                <ul class="sub-menu-block">
                    <li><a class="toAnchor" href="/en/ConservationAndEducation.html#activities">ACTIVITIES</a></li>
                    <li><a href="/en/education.html">ZOOLOGICAL EDUCATION</a></li>
                </ul>
            </div>
            <div class="menu-block">
                <p><a href="/en/new&media.html">MEDIA AND DOWNLOAD</a></p>
                <ul class="sub-menu-block">
                    <li><a href="/en/new&media.html">VIDEO GALLERY</a></li>
                    <li><a class="toAnchor" href="/en/new&media.html#photo-gallery">PHOTO GALLERY</a></li>
                    <li><a class="toAnchor" href="/en/new&media.html#download">DOWNLOAD</a></li>
                </ul>
            </div>
            <div class="menu-block"><a href="/en/sitemap.html">SITEMAP</a></div>
            <div class="menu-block"><a href="https://www.lcsd.gov.hk/en/notice.html" target="_blank">IMPORTANT NOTICES</a></div>
            <div class="menu-block"><a href="https://www.lcsd.gov.hk/en/info_pdo.html" target="_blank">PRIVACY POLICY</a></div>
            <div class="function">
                <div class="lang">
                    <span class="eng active">EN</span> |
                    <span class="chi" onclick="change_lang('tc')">繁</span> |
                    <span class="sc" onclick="change_lang('sc')">简</span>
                </div>
                <div class="fontSize">
                    <span style="font-size:14px;" onclick="change_font_size('s')">A</span>
                    <span style="font-size:16px;" class="active" onclick="change_font_size('m')">A</span>
                    <span style="font-size:18px" onclick="change_font_size('l')">A</span>
                </div>
            </div>
        </div>
    </div>
</div>