<div class="footer-wrapper">
    <div class="menu">
        <a href="/sc/visitPage.html">关于我们</a>
        <a href="/sc/contact.html">联络我们</a>
        <a href="/sc/new&media.html">媒体库</a>
        <a href="https://www.lcsd.gov.hk/sc/facilities/facilitieslist/parks.html" target="_blank">其他公园</a>
        <a href="https://www.lcsd.gov.hk/sc/index.html" target="_blank">返回康文署</a>
    </div>

    <table class="list-group">
        <tr>
            <th><a href="/sc/index.html">主页</a></th>
            <th><a href="/sc/visitPage.html">参观</a></th>
            <th><a href="/sc/animals.html">动物</a></th>
            <th><a href="/sc/plants.html">植物</a></th>
        </tr>
        <tr>
            <td class="list-group-item">
                <ul>
                    <li><a href="/sc/plants/month.html#2022">每月开花植物</a></li>
                    <li><a href="/sc/animals/mammals/animals_4.html">精选动物</a></li>
                    <li><a class="toAnchor" href="/sc/ConservationAndEducation.html#activities">活动</a></li>
                </ul>
            </td>
            <td class="list-group-item">
                <ul>
                    <li><a href="/sc/visitPage.html#garden-info">开放时间及入场费用</a></li>
                    <li><a href="/sc/visitPage.html#guide-info">如何前往</a></li>
                    <li><a href="/sc/map.html">公园地图</a></li>
                    <li><a href="/sc/guided_visit.html">公园导赏团</a></li>
                </ul>
            </td>
            <td class="list-group-item">
                <ul>
                    <li><a onClick="load_program_list('mammals')" href="/sc/animals.html#mammals">哺乳类</a></li>
                    <li><a onClick="load_program_list('birds')" href="/sc/animals.html#birds">鸟类</a></li>
                    <li><a onClick="load_program_list('reptiles')" href="/sc/animals.html#reptiles">爬行类</a></li>
                </ul>
            </td>
            <td class="list-group-item">
                <ul>
                    <li><a href="/sc/plants/OVT.html">古树名木</a></li>
                    <li><a href="/sc/plants/special.html">特别及稀有品种</a></li>
                    <li><a href="/sc/plants/month.html#2022">每月开花植物</a></li>
                    <li><a href="/sc/plants/thematic.html">植物专类园</a></li>
                    <li><a href="https://www.lcsd.gov.hk/sc/green/blossoms.html" target="_blank">赏花好去处</a></li>
                    <li><a href="/sc/plants/greenhouse.html">温室</a></li>
                </ul>
            </td>
        </tr>
    </table>

    <table class="list-group">
        <tr>
            <th><a href="/sc/heritage & history.html">古迹及历史</a></th>
            <th><a href="/sc/ConservationAndEducation.html">保育及教育</a></th>
            <th><a href="/sc/new&media.html">媒体库及下载</a></th>
            <th><a href="/sc/150th.html">香港动植物公园150周年庆祝活动</a></th>
        </tr>
        <tr>
            <td class="list-group-item">
                <ul>
                    <li><a href="/sc/heritage/history.html">公园历史</a></li>
                    <li><a href="/sc/heritage/memorial.html">纪念牌坊(华人纪念碑)</a></li>
                    <li><a href="/sc/heritage/statuekg.html">铜像</a></li>
                    <li><a href="/sc/heritage/fountain.html">喷水池</a></li>
                    <li><a href="/sc/heritage/pavilion.html">凉亭</a></li>
                    <li><a href="/sc/heritage/stonepillar.html">石柱及台阶</a></li>
                    <li><a href="/sc/heritage/gatepillars.html">花园道闸门门柱</a></li>
                    <li><a href="/sc/heritage/steps.html">通往喷水池平台台阶</a></li>
                </ul>
            </td>
            <td class="list-group-item">
                <ul>
                    <li><a class="toAnchor" href="/sc/ConservationAndEducation.html#activities">活动</a></li>
                    <li><a href="/sc/education.html">动物教育</a></li>
                    <li><a href="../sc/happy@park.html">冬日赏绘．香港动植物公园</a></li>
                    <li><a href="/sc/zoo_education.html">2022动物教育展览</a></li>
                </ul>
            </td>
            <td class="list-group-item ">
                <ul>
                    <li><a href="/sc/new&media.html ">短片廊</a></li>
                    <li><a class="toAnchor" href="/sc/new&media.html#photo-gallery">照片廊</a></li>
                    <li><a class="toAnchor" href="/sc/new&media.html#download">下载</a></li>
                </ul>
            </td>
            <td class="list-group-item">
                <ul>
                    <li><a href="/sc/roving.html">香港动植物公园150周年巡回展览</a></li>
                    <li><a href="/sc/guided_visit.html">公园导赏活动</a></li>
                    <li><a href="/sc/competition.html">摄影及短片创作比赛</a></li>
                    <li><a href="/sc/musical.html">150周年启动典暨黄昏音乐会</a></li>
                    <li><a href="/assets/pdf/Thematic Talks on Greening and Conservation.pdf" target="_blank">绿化及保育专题讲座</a></li>
                    <li><a href="/sc/hor_education.html">园艺教育展览 2021</a></li>
                    <li><a href="/sc/showcase.html">150周年纪念短片廊</a></li>
                    <li><a href="/sc/ChristmasCarnival150th.html">圣诞嘉年华</a></li>

                </ul>
            </td>
        </tr>
    </table>


    <div class="info ">
        <div class="left ">
            <a href="https://www.lcsd.gov.hk/sc/"><img src="/assets/images/logo/img-footer-lcsd.png "></a>
            <a href="https://www.gov.hk/sc/"><img src="/assets/images/logo/img-footer-govhk.png "></a>
            <a href="https://www.brandhk.gov.hk/zh-cn/"><img src="/assets/images/logo/img-footer-dragon.png "></a>
            <a href="https://www.w3.org/TR/WCAG20/"><img width="150 " src="/assets/images/logo/wcag2.svg "></a>

        </div>
        <div class="right ">
            <p class="link "><a href="/sc/sitemap.html ">网站地图</a></p>
            <p class="link "><a href="https://www.lcsd.gov.hk/sc/notice.html " target="_blank ">重要告示</a></p>
            <p class="link "><a href="https://www.lcsd.gov.hk/sc/info_pdo.html " target="_blank ">私隐政策</a></p>
            <a class="share fb ">
                <img src="/assets/images/common/sns_fb.png ">
            </a>
            <a href="# ">
                <img src="/assets/images/common/sns_ig.png ">
            </a>
            <a class="share tw ">
                <img src="/assets/images/common/sns_twitter.png ">
            </a>
            <a class="share wb ">
                <img src="/assets/images/common/sns_weibo.png ">
            </a>
            <a class="share email ">
                <img src="/assets/images/common/sns_email.png ">
            </a>
            <a href="# ">
                <img src="/assets/images/common/sns_youtube.png ">
            </a>
        </div>
    </div>
    <div class="copyright ">© 2021 康乐及文化事务署 版权所有</div>
</div>

<script>
    $('html').find('img').each(
        function() {
            var alt = $(this).attr('alt');
            if (typeof alt == undefined || alt == null || alt == "") {
                var src = $(this).attr('src');
                src = src.replace(/^.*[\\\/]/, '');
                src = src.split('.')[0];
                $(this).attr('alt', src);
            }
        }
    );
</script>