<div class="wrapper">
    <div class="left">
        <a href="/sc/index.html" style="display: block;"><img src="/assets/images/logo/logo_hkzbg_v3.jpg" alt="logo" /></a>
    </div>
    <div class="right">
        <div class="menu">
            <img id="open-menu-btn" src="/assets/images/common/icon_menu_v2.png" alt="menu" />
            <p>目录</p>
        </div>
        <div class="open-menu">
            <div class="menu-block">
                <p><a href="/sc/index.html">主页</a></p>
                <ul class="sub-menu-block">
                    <li><a href="/sc/plants/month.html#2022">每月开花植物</a></li>
                    <li><a href="/sc/animals/mammals/animals_4.html">精选动物</a></li>
                    <li><a href="/sc/ConservationAndEducation.html#activities">活动</a></li>
                </ul>
            </div>
            <div class="menu-block">
                <p><a href="/sc/visitPage.html">参观</a></p>
                <ul class="sub-menu-block">
                    <li><a href="/sc/visitPage.html#garden-info">开放时间及入场费用</a></li>
                    <li><a href="/sc/visitPage.html#guide-info">如何前往</a></li>
                    <li><a href="/sc/map.html">公园地图</a></li>
                    <li><a href="/sc/guided_visit.html">公园导赏团</a></li>
                </ul>
            </div>
            <div class="menu-block">
                <p><a href="/sc/animals.html">动物</a></p>
                <ul class="sub-menu-block">
                    <li><a class="toAnchor" onClick="load_program_list('mammals')" href="/sc/animals.html#mammals">哺乳类</a></li>
                    <li><a class="toAnchor" onClick="load_program_list('birds')" href="/sc/animals.html#birds">鸟类</a></li>
                    <li><a class="toAnchor" onClick="load_program_list('reptiles')" href="/sc/animals.html#reptiles">爬行类</a></li>
                </ul>
            </div>
            <div class="menu-block">
                <p><a href="/sc/plants.html">植物</a></p>
                <ul class="sub-menu-block">
                    <li><a href="/sc/plants/OVT.html">古树名木</a></li>
                    <li><a href="/sc/plants/special.html">特别及稀有品种</a></li>
                    <li><a href="/sc/plants/month.html#2022">每月开花植物</a></li>
                    <li><a href="/sc/plants/thematic.html">植物专类园</a></li>
                    <li><a href="https://www.lcsd.gov.hk/sc/green/blossoms.html" target="_blank">赏花好去处</a></li>
                    <li><a href="/sc/plants/greenhouse.html">温室</a></li>
                </ul>
            </div>
            <div class="menu-block">
                <p><a href="/sc/heritage & history.html">古迹及历史</a></p>
                <ul class="sub-menu-block">
                    <li><a href="/sc/heritage/history.html">公园历史</a></li>
                    <li><a href="/sc/heritage/memorial.html">纪念牌坊(华人纪念碑)</a></li>
                    <li><a href="/sc/heritage/statuekg.html">铜像</a></li>
                    <li><a href="/sc/heritage/fountain.html">喷水池</a></li>
                    <li><a href="/sc/heritage/pavilion.html">凉亭</a></li>
                    <li><a href="/sc/heritage/stonepillar.html">石柱及台阶</a></li>
                    <li><a href="/sc/heritage/gatepillars.html">花园道闸门门柱</a></li>
                    <li><a href="/sc/heritage/steps.html">通往喷水池平台台阶</a></li>
                </ul>
            </div>
            <div class="menu-block">
                <p><a href="/sc/ConservationAndEducation.html">保育及教育</a></p>
                <ul class="sub-menu-block">
                    <li><a class="toAnchor" href="/sc/ConservationAndEducation.html#cativities">活动</a></li>
                    <li><a href="/sc/education.html">动物教育</a></li>
                </ul>
            </div>
            <div class="menu-block">
                <p><a href="/sc/new&media.html">媒体库及下载</a></p>
                <ul class="sub-menu-block">
                    <li><a href="/sc/new&media.html">短片廊</a></li>
                    <li><a class="toAnchor" href="/sc/new&media.html#photo-gallery">照片廊</a></li>
                    <li><a class="toAnchor" href="/sc/new&media.html#download">下载</a></li>
                </ul>
            </div>
            <div class="menu-block"><a href="/sc/sitemap.html">网站地图</a></div>
            <div class="menu-block"><a href="https://www.lcsd.gov.hk/sc/notice.html" target="_blank">重要告示</a></div>
            <div class="menu-block"><a href="https://www.lcsd.gov.hk/sc/info_pdo.html" target="_blank">私隐政策</a></div>
            <div class="function">
                <div class="lang">
                    <span class="eng" onclick="change_lang('en')">EN</span> |
                    <span class="chi" onclick="change_lang('tc')">繁</span> |
                    <span class="sc active">简</span>
                </div>
                <div class="fontSize">
                    <span style="font-size:14px;" onclick="change_font_size('s')">A</span>
                    <span style="font-size:16px;" class="active" onclick="change_font_size('m')">A</span>
                    <span style="font-size:18px" onclick="change_font_size('l')">A</span>
                </div>
            </div>
        </div>
    </div>
</div>