/* ==========================================================================

FONTS

========================================================================== */

@font-face {
    font-family: GraphikBold;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/GraphikBold.otf);
}

@font-face {
    font-family: GraphikRegular;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/GraphikRegular.otf);
}

@font-face {
    font-family: GraphikLight;
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/GraphikLight.otf);
}

@font-face {
    font-family: Sabon_Roman;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Sabon_Roman.ttf);
}

@font-face {
    font-family: Sabon_Bold;
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/Sabon_Bold.ttf);
}

@font-face {
    font-family: Sabon_Italic;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Sabon_Italic.ttf);
}


/* ==========================================================================

Common Initialization

========================================================================== */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: "GraphikLight";
    font-size: 16px;
    color: #333;
    height: 100vh;
}

body.loading-overlay-open {
    overflow: hidden;
}

.common-wrapper {
    max-width: 1360px;
    width: 95%;
    margin: 0 auto;
}

main {
    line-height: 1;
}

.clear-both {
    clear: both;
}

.clear::after,
.common-wrapper::after {
    content: "";
    clear: both;
    display: table;
}

b,
.bold {
    font-weight: bold;
}

em,
.italic {
    font-style: italic;
}

p {
    margin-bottom: 0;
    color: #000;
}

dl,
ol,
ul {
    margin-bottom: 0;
}

@media (max-width: 1024px) {
    .mobile-hide {
        display: none !important;
    }
}

@media (min-width: 1024px) {
    .mobile-show {
        display: none !important;
    }
}


/* ==========================================================================

Header

========================================================================== */

header {
    background-color: #fff;
    max-width: 1700px;
    border-top: 1px solid #000;
    position: relative;
    top: 0;
    z-index: 999;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    position: relative;
}

header .left {
    width: 36%;
    max-width: 570px;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

header .left img {
    display: block;
}

header .right {
    position: relative;
    display: flex;
    align-items: center;
    width: 33%;
}

header .right .logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .right .menu,
header .right .logo {
    text-align: center;
    padding: 0 5%;
    height: 100%;
}

header .right .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

header .right .menu #open-menu-btn {
    cursor: pointer;
    width: 50%;
    max-width: 51px;
}

header .right .menu.open_menu p {
    display: none;
}

header .right .logo {
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    width: 60%;
}

header .right .menu p {
    font-size: 2.25em;
    color: #666666;
    font-family: Sabon;
    margin-top: 10px;
}

header .open-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 20px 40px;
    border: 1px solid #000;
    overflow-y: scroll;
    max-height: 700px;
}

header .open-menu .menu-block {
    font-size: 2.125em;
    font-family: Sabon_Roman;
    border-bottom: 2px solid #000;
    padding: 30px 0;
}

header .open-menu .menu-block p {
    position: relative;
    padding-right: 35px;
}

header .open-menu .menu-block p:after {
    content: "";
    background-image: url(../images/common/menu_dropdown.png);
    width: 34px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-size: cover;
}

header .open-menu .menu-block.open_sub_menu p:after {
    transform: translateY(-50%) rotateX(180deg);
}

header .open-menu .menu-block .sub-menu-block {
    list-style: none;
    padding-top: 25px;
    padding-left: 45px;
    display: none;
}

header .open-menu .menu-block .sub-menu-block li {
    margin-bottom: 15px;
}

header .open-menu .function {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

header .open-menu .function span {
    cursor: pointer;
}

.back-to-top {
    background-color: #fff;
    padding: 45px 0;
    text-align: center;
    font-size: 2.25em;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    cursor: pointer;
}

.back-to-top img {
    max-width: 26px;
}

@media (max-width: 1350px) {
    header .right .menu p {
        font-size: 18px;
    }
    header .open-menu .menu-block {
        font-size: 1.5em;
    }
    header .open-menu {
        padding: 20px;
    }
    header .open-menu .menu-block p {
        padding-right: 18px;
    }
    header .open-menu .menu-block p:after {
        width: 17px;
        height: 9px;
    }
    header .open-menu .menu-block .sub-menu-block {
        padding-top: 15px;
        padding-left: 25px;
    }
}

@media (max-width: 1024px) {
    /* header{

width:95%;

} */
    header .right {
        justify-content: flex-end;
    }
    header .right .menu p {
        font-size: 14px;
    }
    header .open-menu .menu-block {
        font-size: 1em;
        padding: 15px 0;
    }
    .back-to-top {
        font-size: 1.5em;
        padding: 25px 0;
    }
    .back-to-top img {
        max-width: 17px;
    }
}

@media (max-width: 768px) {
    header .right {
        position: static;
    }
}

@media (max-width: 568px) {
    header .right .menu p {
        margin-top: 5px;
    }
    .back-to-top {
        font-size: 1em;
    }
    .back-to-top img {
        max-width: 12px;
    }
}


/* ==========================================================================

Content

========================================================================== */

main {
    max-width: 1700px;
    width: 90%;
    margin: 0 auto;
    z-index: 2;
    position: relative;
    overflow: hidden;
}

#moving-bg {
    position: fixed;
    top: 0;
    width: 110%;
    height: 100%;
    z-index: 1;
    max-width: none;
    left: 50%;
    transform: translateX(-50%);
    min-width: 100%;
}

#moving-bg-mobile {
    position: fixed;
    top: 0;
    width: auto;
    height: 100%;
    z-index: 1;
    max-width: none;
    left: 50%;
    transform: translateX(-50%);
    min-width: 100%;
}

section {
    width: 100%;
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

section.highlight,
section.show-list {
    display: flex;
}

section.show-list {
    background-color: transparent;
}


/* ==========================================================================

highlight

========================================================================== */

.highlight .big-title {
    width: 45%;
    padding: 30px;
}

.highlight .big-title .month {
    font-family: GraphikLight;
    font-size: 1.875em;
    margin-bottom: 25px;
    color: #666666;
}

.highlight .big-title .news {
    font-family: Sabon;
    font-weight: 500;
    font-size: 5.875em;
    line-height: 1.2;
}

.highlight .main-banner {
    padding-top: 40%;
    position: relative;
    overflow: hidden;
    width: 55%;
}

.highlight .main-banner img {
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    max-width: none;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.highlight .main-banner img.active {
    opacity: 1;
}


/* ==========================================================================

Show list

========================================================================== */

.show-list .list-item {
    width: 92%;
    display: flex;
}

.show-list .nav {
    width: 8%;
    writing-mode: vertical-lr;
    display: flex;
    align-items: center;
    padding-top: 25px;
}

.show-list .nav .sub-title {
    display: flex;
    align-items: flex-end;
    line-height: 0.5;
}

.show-list .nav p {
    font-size: 4.8vw;
    margin-bottom: 25px;
    font-family: Sabon_Roman;
}

.show-list .nav a {
    font-size: 3vw;
    color: #666666;
}

.list-item .item {
    width: calc(100% / 3);
    border-right: 1px solid #000;
    text-align: center;
}

.list-item .item .subject,
.list-item .item .random,
.show-list .nav {
    background-color: #fff;
}

.list-item .item .subject {
    padding: 45px 20px;
    position: relative;
    font-family: Sabon;
    font-size: 3.75em;
}

.list-item .item .subject::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 2px;
    background-color: #000;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.list-item .item .item-image {
    position: relative;
}

.list-item .item .item-image img {
    display: block;
}

.list-item .item .number {
    width: 90px;
    height: 90px;
    border: 2px solid #000;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    right: 5%;
}

.list-item .item .number p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.2em;
}

.list-item .item .random {
    border-top: 1px solid #000;
    padding: 30px;
    font-size: 2.5em;
    width: 100%;
}

.show-list .animal-list {
    display: flex;
}

.show-list .animal-list .arrow {
    background-color: white;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    width: 70px;
    position: relative;
}

.show-list .animal {
    width: calc(100% - 140px);
}

.show-list .animal .swiper-slide {
    text-align: center;
    background-image: url(../images/common/slider-bg-v2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.show-list .animal .swiper-slide .slide-container {
    max-width: 450px;
    margin: 0 auto;
    width: 100%;
}

.show-list .animal .swiper-slide .subject {
    padding: 45px 20px;
    position: relative;
    font-family: Sabon;
    font-size: 3.75em;
}

.show-list .animal .swiper-slide .subject::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 2px;
    background-color: #000;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.show-list .animal .swiper-slide .item-image {
    position: relative;
}

.show-list .animal .swiper-slide .number {
    width: 90px;
    height: 90px;
    border: 2px solid #000;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    right: 5%;
}

.show-list .animal .swiper-slide .number p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
}

.show-list .animal .swiper-slide .random {
    border-top: 1px solid #000;
    padding: 30px;
    font-size: 4vw;
    width: 100%;
    background-color: #fff;
}

.show-list .animal .swiper-slide .item-image img {
    display: block;
}

.show-list .animal-list .swiper-button-next,
.show-list .animal-list .swiper-button-prev {
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

.show-list .animal-list .swiper-button-prev {
    background-image: url("../images/common/left_arrow_mobile.png");
    content: "";
    width: 22px;
    height: 40px;
}

.show-list .animal-list .swiper-button-next {
    background-image: url("../images/common/right_arrow_mobile.png");
    content: "";
    width: 22px;
    height: 40px;
}

@media (max-width: 1024px) {
    .show-list .animal-list .arrow:first-child {
        border-left: 0;
    }
    .show-list .animal-list .arrow:last-child {
        border-right: 0;
    }
}

@media (max-width: 600px) {
    .show-list .animal-list .arrow {
        width: 50px;
    }
    .show-list .animal {
        width: calc(100% - 100px);
    }
}


/* ==========================================================================

Activity slider

========================================================================== */

.slider .swiper-slide {
    text-align: center;
    transition: opacity 1s ease-in-out;
    position: relative;
}

.slider .swiper-slide a {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

.slider .swiper-slide .slide-bg {
    opacity: 0;
    transition: all 1s;
    position: relative;
    padding-top: 35%;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.slider .swiper-slide .slide-bg img {
    position: absolute;
    top: 0;
    left: 0;
}

.slider .swiper-slide:hover .slide-bg {
    opacity: 1;
}

.slider .swiper-slide:hover .info {
    display: none;
}

.slider .swiper-slide .info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
}

.slider .swiper-slide .type,
.slider .swiper-slide .date {
    font-size: 1.5vw;
    font-family: GraphikLight;
}

.slider .swiper-slide .title {
    font-family: Sabon_Roman;
    font-size: 3vw;
    margin: 35px 0;
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
    content: "";
}

.slider .swiper-button-prev {
    background-image: url("../images/common/icon_left.png");
    content: "";
    width: 100px;
    height: 100px;
}

.slider .swiper-button-next {
    background-image: url("../images/common/icon_right.png");
    content: "";
    width: 100px;
    height: 100px;
}

@media (max-width: 1024px) {
    .slider .swiper-slide .title {
        font-size: 5vw;
    }
    .slider .swiper-slide .type,
    .slider .swiper-slide .date {
        font-size: 2.5vw;
    }
}


/* ==========================================================================

Common page

========================================================================== */

section.common {
    display: flex;
}

.common .left,
.common .right {
    width: 50%;
    padding: 30px 50px;
}

.common .big-title {
    font-size: 3.33vw;
    font-family: Sabon_Roman;
    padding-bottom: 20px;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.common .article {
    line-height: 1.5;
    font-size: 1em;
}

.common .sub-title {
    font-size: 2.5vw;
    font-family: Sabon_Roman;
    padding-bottom: 15px;
}

@media (max-width: 1450px) {
    .common .left,
    .common .right {
        padding: 30px;
    }
}

@media (max-width: 1024px) {
    section.common {
        display: block;
    }
    .common .big-title {
        font-size: 8vw;
    }
    .common .sub-title {
        text-align: center;
        font-size: 4.2vw;
    }
    .common .left,
    .common .right {
        width: 100%;
        padding: 2vw;
    }
    #banner {
        min-height: unset !important;
    }
}

@media (max-width: 568px) {
    .common .sub-title {
        font-size: 5.5vw;
    }
    /* .common .left, .common .right{

padding: 4%;

} */
}

.common .layer {
    background: rgb(0, 0, 0);
    background: linear-gradient( 0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 50%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}


/* ==========================================================================

Visit page

========================================================================== */

.visitPage #banner .left {
    border-right: 1px solid #fff;
}

.visitPage #banner .right .article {
    color: #fff;
    line-height: 1.5;
}

.visitPage #banner {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/visitPage/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 680px;
}

.visitPage #banner .big-title {
    color: #fff;
    border-bottom: 1px solid #fff;
}

@media (max-width: 1024px) {
    .visitPage #banner {
        background: none;
        min-height: unset;
    }
    .visitPage #banner .left {
        position: relative;
        padding: 0;
        border-right: 0;
    }
    .visitPage #banner .left img {
        display: block;
    }
    .visitPage #banner .big-title {
        width: 50%;
        position: absolute;
        bottom: 2vw;
        left: 2vw;
        z-index: 2;
        padding-bottom: 10px;
    }
    .visitPage #banner .right {
        background-color: #000000;
    }
}

@media (max-width: 568px) {
    .visitPage #banner .right .article {
        font-size: 0.875em;
    }
}


/* =========================================================*/

.visitPage #garden-info .left {
    display: flex;
    padding: 0;
    border-right: 1px solid #000;
}

.visitPage #garden-info .left .sub-title {
    width: 50%;
    padding: 30px 40px;
}

.visitPage #garden-info .left .map {
    width: 50%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.visitPage #garden-info .left .map .over-info {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 5;
}

.visitPage #garden-info .left .map .over-info p {
    color: #fff;
    line-height: 1.5;
    font-size: 1.125em;
}

.visitPage #garden-info .left .map .over-info>img {
    animation: blinker 3s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.visitPage #garden-info .left .map>img {
    display: block;
    height: 100%;
    width: 100%;
    transition: all 1s ease-out;
}

.visitPage #garden-info .left .map:hover>img {
    transform: scale(1.2);
}

.visitPage #garden-info .right .sub-title {
    padding-bottom: 30px;
}

.visitPage #garden-info .right .time {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 25px 0;
    margin-bottom: 20px;
    font-weight: bold;
}

.visitPage #garden-info .right .time>p {
    font-size: 1.5em;
    margin-bottom: 15px;
}


/* .visitPage #garden-info .right .flex{

display:flex;

} */

.visitPage #garden-info .right .flex p {
    /* flex:1; */
    font-size: 1.125em;
    line-height: 1.5;
}

.visitPage #garden-info .right .flex {
    display: block;
}

.visitPage #garden-info .right .flex p {
    flex: none;
    width: 49%;
    padding: 0;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.visitPage #garden-info .right .flex p:nth-child(2),
.visitPage #garden-info .right .flex p:nth-child(5) {
    padding-left: 15px;
}

.visitPage #garden-info .right .flex p:nth-child(1),
.visitPage #garden-info .right .flex p:nth-child(4) {
    border-right: 2px solid #000;
}

.visitPage #garden-info .right .flex hr {
    border: 1px solid #000000;
    margin: 15px 0;
    width: 100%;
    height: 2px;
}

.visitPage #garden-info .right>p:nth-child(3) {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

.visitPage #garden-info .right>p:nth-child(4) {
    font-size: 1.125em;
    font-weight: bold;
}

@media (max-width: 1250px) {
    .visitPage #garden-info .left {
        display: block;
    }
    .visitPage #garden-info .left .sub-title {
        width: 100%;
        text-align: center;
    }
    .visitPage #garden-info .left .map {
        width: 100%;
    }
    .visitPage #garden-info .left .sub-title {
        width: 100%;
        text-align: center;
    }
    .visitPage #garden-info .left .map {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .visitPage #garden-info .left {
        width: 100%;
        padding: 0;
        display: block;
    }
    .visitPage #garden-info .left .sub-title {
        width: 100%;
        text-align: center;
    }
    .visitPage #garden-info .left .map {
        width: 100%;
    }
    /* ======= */
    .visitPage #garden-info .right {
        padding-bottom: 150px;
    }
    .visitPage #garden-info .right .time>p,
    .visitPage #garden-info .right>p:nth-child(3) {
        font-size: 1.125em;
    }
    .visitPage #garden-info .right .flex p,
    .visitPage #garden-info .right>p:nth-child(4) {
        font-size: 1em;
    }
    .visitPage #garden-info .right .sub-title {
        padding-bottom: 2vw;
    }
}


/* =========================================================*/

.visitPage #guide-info .left {
    border-right: 1px solid #000;
}

.visitPage #guide-info .left .address {
    font-size: 1.5em;
    line-height: 1.5;
    padding-bottom: 15px;
}

.visitPage #guide-info .left .flex {
    display: flex;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.visitPage #guide-info .left .flex p {
    flex: 1;
    font-size: 1.125em;
    padding: 25px 0;
    line-height: 1.5;
    font-weight: bold;
}

.visitPage #guide-info .left .flex p span {
    font-size: 1.333em;
}

.visitPage #guide-info .left .flex p:nth-child(2) {
    padding-left: 15px;
    margin-right: 15px;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.visitPage #guide-info .left .flex p:nth-child(3) {
    padding-left: 15px;
    border-left: 2px solid #000;
}

.visitPage #guide-info .left .icon-with-link {
    display: flex;
    margin-top: 15px;
    font-weight: bold;
}

.visitPage #guide-info .left .icon-with-link img {
    max-width: 18px;
}

.visitPage #guide-info .right {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/visitPage/guidedvisitbutton.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 565px;
}

.visitPage #guide-info .right .sub-title {
    color: #ffffff;
    padding-bottom: 15px;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 30px;
}

.visitPage #guide-info .right .content {
    color: #ffffff;
    line-height: 1.5;
    margin-bottom: 20px;
}

.visitPage #guide-info .right .more-btn {
    padding: 8px 20px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 25px;
}

@media (max-width: 1450px) {
    .visitPage #guide-info .left .address {
        font-size: 1.3em;
    }
    .visitPage #guide-info .left .flex p span {
        font-size: 1.125em;
    }
    .visitPage #guide-info .left .flex p {
        font-size: 1em;
    }
}

@media (max-width: 1024px) {
    .visitPage #guide-info .left {
        border-right: 0;
    }
    .visitPage #guide-info .left .address {
        text-align: center;
        font-size: 1.125em;
    }
    .visitPage #guide-info .right {
        background: none;
        background-color: #000000;
        padding: 0;
    }
    .visitPage #guide-info .right .banner {
        position: relative;
    }
    .visitPage #guide-info .right .banner img {
        width: 100%;
    }
    .visitPage #guide-info .right .sub-title {
        position: absolute;
        bottom: 2vw;
        left: 2vw;
        width: 50%;
        z-index: 2;
        text-align: left;
        margin-bottom: 0;
        padding-bottom: 5px;
    }
    .visitPage #guide-info .right .content {
        padding: 2vw 2vw 150px;
        margin-bottom: 0;
    }
    .visitPage #guide-info .left .flex {
        display: block;
        padding: 25px 0;
    }
    .visitPage #guide-info .left .flex p {
        flex: none;
        width: 49%;
        padding: 0;
        display: inline-block;
        position: relative;
        border-right: 2px solid #000;
        vertical-align: middle;
    }
    .visitPage #guide-info .left .flex p:nth-child(2) {
        border-right: 0;
        border-left: 0;
        margin: 0;
    }
    .visitPage #guide-info .left .flex p:nth-child(1) {
        border-right: 2px solid #000;
    }
    .visitPage #guide-info .left .flex hr {
        border: 1px solid #000000;
        margin: 25px 0;
    }
}


/* @media (max-width: 568px){

.visitPage #guide-info .right .content {

padding: 4%;

padding-bottom:100px;

margin-bottom: 0;

font-size:0.875em;

}

} */


/* ==========================================================================

Animals Page

========================================================================== */

.animalsPage #banner {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/animals/banner_animal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 680px;
}

.animalsPage #banner .left {
    border-right: 1px solid #fff;
}

.animalsPage #banner .right .article {
    color: #fff;
    line-height: 1.5;
}

.animalsPage .cate-btn {
    padding: 15px 50px;
    font-size: 1.25vw;
    border-radius: 30px;
    margin-bottom: 20px;
}

.animalsPage .cate-btn.all {
    color: #fff;
    border: 1px solid #fff;
}

.animalsPage .cate-btn.mammals {
    color: #ae7c5b;
    border: 1px solid #ae7c5b;
}

.animalsPage .cate-btn.birds {
    color: #76909d;
    border: 1px solid #76909d;
}

.animalsPage .cate-btn.reptiles {
    color: #b6a243;
    border: 1px solid #b6a243;
}

.animalsPage .cate-btn.all:hover,
.animalsPage .cate-btn.all.active {
    color: #000;
    background-color: #fff;
}

.animalsPage .cate-btn.mammals:hover,
.animalsPage .cate-btn.mammals.active {
    color: #fff;
    background-color: #ae7c5b;
}

.animalsPage .cate-btn.birds:hover,
.animalsPage .cate-btn.birds.active {
    color: #fff;
    background-color: #76909d;
}

.animalsPage .cate-btn.reptiles:hover,
.animalsPage .cate-btn.reptiles.active {
    color: #fff;
    background-color: #b6a243;
}

.animalsPage .common .big-title {
    margin-bottom: 45px;
}

.animalsPage #animals-list {
    flex-wrap: wrap;
}

.animalsPage #animals-list .animals-block {
    width: calc(100% / 4);
    padding: 2.35vw;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.animalsPage #animals-list .animals-block .cover {
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #000;
    position: relative;
}

.animalsPage #animals-list .animals-block .cover img {
    transition: all 1s ease-out;
}

.animalsPage #animals-list .animals-block .cover:hover img {
    transform: scale(1.2);
}

.animalsPage #animals-list .animals-block .cover a,
.animalsPage #animals-list .animals-block .cover img {
    display: block;
    cursor: pointer;
}

.animalsPage #animals-list .animals-block .info {
    margin-top: 25px;
    border-top: 2px solid #000;
    text-align: center;
    padding: 25px;
}

.animalsPage #animals-list .animals-block .info .type {
    text-transform: uppercase;
    display: inline-block;
    border-radius: 25px;
    padding: 5px 15px;
    margin-bottom: 15px;
    font-size: 1.25vw;
}

.animalsPage #animals-list .animals-block .info .type.mammals {
    color: #ae7c5b;
    border: 2px solid #ae7c5b;
}

.animalsPage #animals-list .animals-block .info .type.birds {
    color: #76909d;
    border: 2px solid #76909d;
}

.animalsPage #animals-list .animals-block .info .type.reptiles {
    color: #b6a243;
    border: 2px solid #b6a243;
}

.animalsPage #animals-list .animals-block .info .name {
    font-family: Sabon_Roman;
    font-size: 1.5vw;
}

@media (max-width: 1350px) {
    .animalsPage #animals-list .animals-block {
        width: calc(100% / 3);
    }
}

@media (max-width: 1024px) {
    .animalsPage .common .big-title {
        margin-bottom: 0;
    }
    .animalsPage #banner {
        background: none;
    }
    .animalsPage #banner .left {
        position: relative;
        padding: 0;
        border: 0;
    }
    .animalsPage #banner .left img {
        display: block;
    }
    .animalsPage #banner .big-title {
        width: 50%;
        position: absolute;
        bottom: 2vw;
        left: 2vw;
        z-index: 2;
        padding-bottom: 10px;
    }
    .animalsPage #banner .right {
        background-color: #000000;
    }
    .animalsPage .cate-list {
        background-color: #fff;
        border: 1px solid #000;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px 0;
    }
    .animalsPage .cate-btn {
        padding: 8px 20px;
        margin-bottom: 0px;
        font-size: 2vw;
    }
    .animalsPage .cate-btn:nth-child(1) {
        border: 1px solid #000;
        color: #000;
    }
    .animalsPage #animals-list {
        display: flex;
    }
    .animalsPage #animals-list .animals-block {
        width: calc(100% / 2);
    }
    .animalsPage #animals-list .animals-block .info .type {
        font-size: 2.2vw;
    }
    .animalsPage #animals-list .animals-block .info .name {
        font-size: 2.8vw;
    }
}

@media (max-width: 568px) {
    .animalsPage #banner .right .article {
        font-size: 0.875em;
    }
    /* .animalsPage #animals-list .animals-block{

padding: 15px;

} */
}


/* ==========================================================================

Plants page

========================================================================== */

.plantsPage #banner {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/plants/mainbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 680px;
}

.plantsPage #banner .left {
    border-right: 1px solid #fff;
}

.plantsPage #banner .right .article {
    color: #fff;
    line-height: 1.5;
}

@media (max-width: 1024px) {
    .plantsPage #banner {
        background: none;
    }
    .plantsPage #banner .left {
        position: relative;
        padding: 0;
    }
    .plantsPage #banner .left img {
        display: block;
    }
    .plantsPage #banner .big-title {
        width: 50%;
        position: absolute;
        bottom: 2vw;
        left: 2vw;
        z-index: 2;
        padding-bottom: 10px;
    }
    .plantsPage #banner .right {
        background-color: #000000;
    }
}

.plantsPage #block-1 .left {
    display: flex;
    padding: 0;
    border-right: 1px solid #000;
}

.plantsPage #block-1 .left .sub-title {
    width: 50%;
    padding: 20px 25px;
}

.plantsPage #block-1 .left .sub-title span {
    font-size: 1.2vw;
    font-family: GraphikRegular;
}

.plantsPage #block-1 .left .cover {
    width: 50%;
    position: relative;
}

.plantsPage #block-1 .right,
.plantsPage #block-2 .left {
    padding: 0;
    display: flex;
}

.plantsPage .box {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.plantsPage .cover {
    overflow: hidden;
}

.plantsPage .box:nth-child(1) {
    border-right: 1px solid #000;
}

.plantsPage .box p {
    font-size: 1.8vw;
    font-family: Sabon_Roman;
}

.plantsPage #block-1 .right .box:nth-child(1),
.plantsPage #block-2 .left .box:nth-child(2) {
    flex-direction: column;
    padding: 2vw;
}

.plantsPage #block-1 .right .box:nth-child(2) p,
.plantsPage #block-2 .left .box:nth-child(1) p {
    padding: 2vw;
}

.plantsPage #block-1 .right .box:nth-child(1) p,
.plantsPage #block-2 .left .box:nth-child(2) p {
    margin-top: 25px;
    padding: 2vw 0;
    border-top: 2px solid #000;
}

.plantsPage #block-2 .left .box:nth-child(2) .cover {
    border-radius: 50%;
    border: 1px solid #000;
}

.plantsPage .cover a {
    display: block;
    height: 100%;
}

.plantsPage .cover img {
    transition: all 1s ease-out;
    width: 100%;
    height: 100%;
    display: block;
}

.plantsPage .cover:hover img {
    transform: scale(1.2);
}

.plantsPage #block-2 .right {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/plants/OVTbutton.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 565px;
}

.plantsPage #block-2 .right .sub-title {
    color: #ffffff;
    padding-bottom: 15px;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 30px;
}

.plantsPage #block-2 .right .content {
    color: #ffffff;
    line-height: 1.5;
    margin-bottom: 20px;
}

@media (max-width: 1024px) {
    .plantsPage #block-1 .left {
        border-bottom: 1px solid #000;
    }
    .plantsPage #block-1 .left .sub-title {
        text-align: left;
        padding: 15px;
    }
    .plantsPage #block-1 .left .sub-title span {
        font-size: 2.3vw;
    }
    .plantsPage #block-2 .right {
        background: none;
        background-color: #000000;
        padding: 0;
    }
    .plantsPage #block-2 .right .banner {
        position: relative;
    }
    .plantsPage #block-2 .right .banner img {
        width: 100%;
    }
    .plantsPage #block-2 .right .sub-title {
        position: absolute;
        bottom: 2vw;
        left: 2vw;
        width: 50%;
        z-index: 2;
        text-align: left;
        margin-bottom: 0;
        padding-bottom: 5px;
    }
    .plantsPage #block-2 .right .content {
        padding: 2vw;
        margin-bottom: 0;
    }
    .plantsPage .box p {
        font-size: 3.5vw;
    }
    .plantsPage #block-1 .right .box:nth-child(1) p {
        margin-top: 0;
    }
    .plantsPage #block-2 .left .box:nth-child(2) p {
        margin-top: 2vw;
    }
}


/* ==========================================================================

Heritage and History page

========================================================================== */

.heritagePage #banner {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/heritage&history/banner_heritage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 680px;
}

.heritagePage #banner .left {
    border-right: 1px solid #fff;
}

.heritagePage #banner .right .article {
    color: #fff;
    line-height: 1.5;
}

@media (max-width: 1024px) {
    .heritagePage #banner {
        background: none;
    }
    .heritagePage #banner .left {
        position: relative;
        padding: 0;
    }
    .heritagePage #banner .left img {
        display: block;
    }
    .heritagePage #banner .big-title {
        width: 50%;
        position: absolute;
        bottom: 2vw;
        left: 2vw;
        z-index: 2;
        padding-bottom: 10px;
    }
    .heritagePage #banner .right {
        background-color: #000000;
    }
}

.heritagePage #block-1,
.heritagePage #block-2 {
    border-right: 0px;
    border-bottom: 0px;
}

.heritagePage #block-1 .left {
    display: flex;
    padding: 0;
    border-right: 1px solid #000;
}

.heritagePage #block-1 .left div {
    width: 50%;
    padding: 20px 25px;
}

.heritagePage #block-1 .left .sub-title {
    display: inline-block;
    border-bottom: 1px solid #000;
}

.heritagePage #block-1 .left .sub-title span {
    font-size: 1.2vw;
    font-family: GraphikRegular;
}

.heritagePage #block-1 .left a {
    width: 50%;
    position: relative;
}

.heritagePage #block-1 .left a img {
    height: 100%;
}

.heritagePage #block-1 .right,
.heritagePage #block-2 .left {
    padding: 0;
    display: flex;
}

.heritagePage .box-layout2 {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 2vw;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.heritagePage .box-layout2 .cover {
    border-radius: 50%;
    border: 2px solid #000;
    overflow: hidden;
}

.heritagePage .box-layout2 .cover img {
    transition: all 1s ease-out;
    width: 100%;
    display: block;
}

.heritagePage .box-layout2 .cover:hover img {
    transform: scale(1.2);
}

.heritagePage #block-2 {
    flex-wrap: wrap;
}

.heritagePage #block-2 .box-layout2 {
    width: calc(100% / 4);
}

.heritagePage #block-2 .box-layout2:nth-child(1) {
    border-top: 1px solid #000;
}

.heritagePage .box-layout2 p {
    margin-top: 25px;
    padding: 2vw 0;
    border-top: 2px solid #000;
    text-align: center;
    font-size: 1.5vw;
    font-family: Sabon_Roman;
    padding: 2vw 0;
}

.heritagePage .back-to-top {
    border-top: 1px solid #000;
}

@media (max-width: 1024px) {
    .heritagePage #block-1 .left {
        border-bottom: 1px solid #000;
    }
    .heritagePage #block-1 .left div {
        padding: 2vw;
    }
    .heritagePage #block-1 .left .sub-title {
        text-align: left;
    }
    .heritagePage #block-2 {
        display: flex;
    }
    .heritagePage #block-2 .box-layout2 {
        width: 50%;
    }
    .heritagePage .box-layout2 p {
        font-size: 2.8vw;
    }
}


/* ==========================================================================

CONSERVATION & EDUCATION Page

========================================================================== */

.CEPage #banner {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/CE/mainBanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 680px;
}

.CEPage #banner .left {
    border-right: 1px solid #fff;
}

.CEPage #banner .right .article {
    color: #fff;
    line-height: 1.5;
}

@media (max-width: 1024px) {
    .CEPage #banner {
        background: none;
    }
    .CEPage #banner .left {
        position: relative;
        padding: 0;
    }
    .CEPage #banner .left img {
        display: block;
    }
    .CEPage #banner .big-title {
        width: 70%;
        position: absolute;
        bottom: 2vw;
        left: 2vw;
        z-index: 2;
        padding-bottom: 10px;
    }
    .CEPage #banner .right {
        background-color: #000000;
    }
}

.CEPage #block-2 .left {
    padding: 0;
    display: flex;
}

.CEPage #block-2 .left .sub-title {
    border-bottom: 1px solid #000;
    margin-bottom: 15px;
}

.CEPage #block-2 .left .list {
    padding: 30px 40px;
    width: 50%;
}

.CEPage #block-2 .left .cate-btn {
    padding: 8px 10px;
    font-size: 1vw;
    border-radius: 30px;
    margin-bottom: 10px;
    border: 1px solid #000;
}

.CEPage #block-2 .left .attach {
    width: 50%;
    /* position:relative;

padding-top:50%; */
}

.CEPage #block-2 .left img {
    /* position: absolute;

top: 0;

left: 50%; */
    width: auto;
    height: 100%;
    /* transform: translateX(-50%); */
}

.CEPage #block-2 .right {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/CE/zoological_education_button.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.CEPage #block-2 .right .sub-title {
    color: #ffffff;
    padding-bottom: 15px;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 30px;
}

.CEPage #block-2 .right .content {
    color: #ffffff;
    line-height: 1.5;
    margin-bottom: 20px;
}

.CEPage #block-2 .right .more-btn {
    padding: 8px 20px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 25px;
}

@media (max-width: 1024px) {
    .CEPage #block-2 .left .list {
        padding: 2vw;
    }
    .CEPage #block-2 .left .cate-btn {
        font-size: 2vw;
    }
    .CEPage #block-2 .left .sub-title {
        text-align: left;
    }
    .CEPage #block-2 .left img {
        width: 100%;
    }
    .CEPage #block-2 .right {
        background: none;
        background-color: #000000;
        padding: 0;
    }
    .CEPage #block-2 .right .banner {
        position: relative;
    }
    .CEPage #block-2 .right .banner img {
        width: 100%;
    }
    .CEPage #block-2 .right .sub-title {
        position: absolute;
        bottom: 2vw;
        left: 2vw;
        width: 50%;
        z-index: 2;
        text-align: left;
        margin-bottom: 0;
        padding-bottom: 5px;
    }
    .CEPage #block-2 .right .content {
        padding: 2vw 2vw 150px;
        margin-bottom: 0;
    }
}


/* ==========================================================================

150th page

========================================================================== */

#big-banner {
    border-bottom: 0;
}

#big-banner img {
    width: 100%;
    height: 100%;
    display: block;
}

#th-list {
    flex-wrap: wrap;
    background-image: url("../images/150th/programme_button_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-right: 0;
}

.th-block {
    width: calc(100% / 3);
    min-height: 15vw;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    position: relative;
    padding: 1vw;
    line-height: 1.2;
    overflow: hidden;
}

.th-block .title {
    font-family: Sabon_Roman;
    font-size: 1.5vw;
}

.th-block .date {
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    font-size: 1.1vw;
    text-align: right;
}

.th-block.no-padding {
    padding: 0;
}

.th-block>img {
    display: block;
    transition: all 1s ease-out;
}

.th-block:hover>img {
    transform: scale(1.2);
}

@media (max-width: 1024px) {
    #th-list {
        display: flex;
        background-image: url("../images/150th/programme_button_bg_mobile.jpg");
    }
    .th-block {
        width: calc(100% / 2);
        min-height: 23vw;
    }
    .th-block .title {
        font-size: 3vw;
    }
    .th-block .date {
        font-size: 2vw;
    }
}


/* ==========================================================================

Activity Page

========================================================================== */

.act-Page .common .left {
    padding: 0;
    border-right: 1px solid #000;
}

.act-Page .gallery .swiper-slide {
    text-align: center;
    padding: 2vw;
}

.slider-nav {
    display: flex;
    position: relative;
    height: 59px;
}

.slider-nav .swiper-button-prev,
.slider-nav .swiper-button-next,
.swiper-pagination {
    position: static;
    border-top: 1px solid #000;
}

.swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-nav .swiper-button-prev {
    margin: 0;
    content: "";
    width: auto;
    height: 100%;
    padding: 10px;
    border-right: 1px solid #000;
}

.slider-nav .swiper-button-next {
    content: "";
    margin: 0;
    width: auto;
    height: 100%;
    padding: 10px;
    border-left: 1px solid #000;
}

.slider-nav .swiper-button-prev img,
.slider-nav .swiper-button-next img {
    height: 100%;
    width: auto;
}

.act-Page .common .right {
    padding: 1.5vw;
}

.act-Page .title {
    font-size: 2.2vw;
    font-weight: bold;
}

.act-Page .content {
    font-size: 1vw;
    line-height: 1.5;
    padding: 1vw;
}

.act-Page .content p {
    margin: 15px 0;
}

.act-Page .content table:not(.list) {
    width: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.act-Page .content table:not(.list) tr:not(:last-child) {
    border-bottom: 1px solid #000;
}

.act-Page .content table:not(.list) tr td:first-child {
    border-right: 1px solid #000;
    width: 50%;
}

.act-Page .content table:not(.list) tr td {
    padding: 15px 0;
}

.act-Page .content table:not(.list) tr td:last-child {
    padding: 15px;
}

.competition .common .left {
    padding: 0 5vw;
}

.competition .common .left a {
    display: block;
}

.competition .common .left img {
    height: 100%;
    width: auto;
}

.act-Page #desc {
    font-size: 1vw;
    line-height: 1.5;
    padding: 1.5vw;
}

.act-Page #desc p {
    margin-bottom: 15px;
}

.act-Page #desc table tr:not(:last-child) {
    border-bottom: 1px solid #000;
}

.act-Page #desc table tr td:first-child {
    border-right: 1px solid #000;
    width: 50%;
}

.act-Page #desc table tr td {
    padding: 15px;
}

.act-Page.zoo .common .left {
    padding-top: 1.5vw;
    text-align: center;
}

.act-Page.zoo .content .list {
    border-collapse: collapse;
}

.act-Page.zoo .content .list tr td {
    width: calc(100% / 3) !important;
}

.act-Page.zoo .content .list,
.act-Page .content .list td,
.act-Page .content .list th {
    border: 1px solid black;
    padding: 10px;
}

@media (max-width: 1024px) {
    .act-Page .common .left {
        border-right: 0;
        border-bottom: 1px solid #000;
    }
    .act-Page .common .right {
        padding: 2vw;
    }
    .act-Page .title {
        font-size: 3.5vw;
    }
    .act-Page .content,
    .act-Page #desc {
        font-size: 2.5vw;
    }
}


/* ==========================================================================

Detail page

========================================================================== */

.detailPage .list {
    width: 100%;
}

.detailPage .list>p {
    text-align: center;
    padding: 1vw;
    font-size: 1.8vw;
    font-family: Sabon_Roman;
}

.detailPage .slider-nav .swiper-pagination {
    width: 50%;
}

.detailPage .slider-nav .swiper-button-prev {
    margin: 0;
    content: "";
    width: 25%;
    height: 100%;
    padding: 10px;
    border-right: 1px solid #000;
    background-color: #deedce;
}

.detailPage .slider-nav .swiper-button-next {
    content: "";
    margin: 0;
    width: 25%;
    height: 100%;
    padding: 10px;
    border-left: 1px solid #000;
    background-color: #deedce;
}

.detailPage .list td,
.detailPage .list th {
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.detailPage .list td:last-child,
.detailPage .list th:last-child {
    border-right: 0;
}

.detailPage .list table {
    border-collapse: collapse;
    width: 100%;
}

.detailPage .list table th {
    background-color: #f8b03a;
    vertical-align: middle;
    padding: 15px;
    font-size: 1.2vw;
    text-align: left;
}

.detailPage .list table th:not(:first-child) {
    width: calc(82% / 3);
}

.detailPage .list table td {
    padding: 15px;
    font-size: 1.2vw;
}

@media (min-width: 1025px) {
    .detailPage .list table td {
        height: 60vh;
    }
}

@media (max-width: 1024px) {
    .detailPage .list table:not(.mobile-show) {
        display: none;
    }
    .detailPage .list>p {
        font-size: 3.2vw;
    }
    .detailPage .list table td {
        display: block;
        width: 100%;
        clear: both;
        font-size: 2.4vw;
        text-align: center;
    }
    .detailPage .list table td:first-child {
        background-color: #f8b03a;
    }
    .detailPage .list table,
    .detailPage .list td,
    .detailPage .list th {
        border: 0;
    }
    .detailPage .list td,
    .detailPage .list th {
        border-top: 1px solid #000;
    }
}


/* ==========================================================================

Showcase page

========================================================================== */

.showcasePage .common {
    flex-wrap: wrap;
}

.showcasePage .video-block .big-title {
    color: #000;
    border-bottom: 1px solid #000;
}

.showcasePage .video-block {
    width: 50%;
    padding: 2vw;
    border-bottom: 1px solid #000;
}

.showcasePage .video-block:nth-child(odd) {
    border-right: 1px solid #000;
}

.showcasePage .video-block:nth-child(7),
.showcasePage .video-block:nth-child(8) {
    border-bottom: 0;
}

.showcasePage .video-block .cover {
    cursor: pointer;
    overflow: hidden;
}

.showcasePage .video-block .cover img {
    transition: all 1s ease-out;
    width: 100%;
}

.showcasePage .video-block .cover:hover img {
    transform: scale(1.2);
}

.showcasePage .video-block p:not(.big-title) {
    padding: 1vw 0;
    border-top: 1px solid #000;
    font-size: 1.5vw;
    font-family: Sabon_Roman;
    line-height: 1.3;
    margin-top: 25px;
}

@media (max-width: 1024px) {
    .showcasePage .video-block {
        width: 100%;
    }
}


/* ==========================================================================

OVT page

========================================================================== */

.OVTPage #banner {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/plants/OVT_mainBanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 680px;
}

.OVTPage #banner .left {
    border-right: 1px solid #fff;
}

.OVTPage .big-title {
    display: flex;
}

.OVTPage .big-title>p {
    color: #fff;
    width: 80%;
    border-right: 1px solid #fff;
}

.OVTPage .big-title .loca-btn {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.OVTPage .big-title .loca-btn p {
    font-size: 1vw;
    color: #fff;
}

.OVTPage #banner .right .article {
    color: #fff;
    line-height: 1.5;
}

.OVTPage #list {
    flex-wrap: wrap;
}

.OVTPage #list .box-layout2 {
    display: flex;
    width: 25%;
    flex-direction: column;
    padding: 2vw;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.OVTPage #list .box-layout2 .cover {
    border-radius: 50%;
    border: 2px solid #000;
    overflow: hidden;
    max-width: 345px;
    max-height: 345px;
}

.OVTPage #list .box-layout2 .cover img {
    transition: all 1s ease-out;
    width: 100%;
    display: block;
}

.OVTPage #list .box-layout2 .cover:hover img {
    transform: scale(1.2);
}

.OVTPage #list .box-layout2:nth-child(1) {
    border-top: 1px solid #000;
}

.OVTPage #list p {
    margin-top: 25px;
    padding: 2vw 0;
    border-top: 2px solid #000;
    text-align: center;
    font-size: 1.5vw;
    font-family: Sabon_Roman;
}

@media (max-width: 1024px) {
    .OVTPage .layer {
        display: none;
    }
    .OVTPage #banner {
        background: none;
    }
    .OVTPage #banner .left {
        position: relative;
        padding: 0;
        border-right: 0;
    }
    .OVTPage #banner .left img {
        display: block;
    }
    .OVTPage #banner .big-title {
        width: 100%;
        z-index: 2;
        padding: 2vw;
        background-color: #000;
    }
    .OVTPage .big-title>p {
        font-size: 8vw;
    }
    .OVTPage .big-title .loca-btn p {
        font-size: 2.3vw;
    }
    .OVTPage #banner .right {
        background-color: #000000;
    }
    .OVTPage #list {
        display: flex;
    }
    .OVTPage #list .box-layout2 {
        width: 50%;
    }
}


/* ==========================================================================

thematic page

========================================================================== */

.thematicPage #banner {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/plants/thematic/mainBanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 680px;
}

.thematicPage #banner .left {
    border-right: 1px solid #fff;
}

.thematicPage .big-title {
    display: flex;
}

.thematicPage .big-title>p {
    color: #fff;
    width: 80%;
    border-right: 1px solid #fff;
}

.thematicPage .big-title .loca-btn {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thematicPage .big-title .loca-btn p {
    font-size: 1vw;
    color: #fff;
}

.thematicPage #banner .right .article {
    color: #fff;
    line-height: 1.5;
}

.thematicPage #list {
    flex-wrap: wrap;
}

.thematicPage #list .box-layout2 {
    display: flex;
    width: 25%;
    flex-direction: column;
    padding: 2vw;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.thematicPage #list .box-layout2 .cover {
    border-radius: 50%;
    border: 2px solid #000;
    overflow: hidden;
}

.thematicPage #list .box-layout2 .cover img {
    transition: all 1s ease-out;
    width: 100%;
    display: block;
}

.thematicPage #list .box-layout2 .cover:hover img {
    transform: scale(1.2);
}

.thematicPage #list p {
    margin-top: 25px;
    padding: 2vw 0;
    border-top: 2px solid #000;
    text-align: center;
    font-size: 1.5vw;
    font-family: Sabon_Roman;
}

@media (max-width: 1024px) {
    .thematicPage .layer {
        display: none;
    }
    .thematicPage #banner {
        background: none;
    }
    .thematicPage #banner .left {
        position: relative;
        padding: 0;
        border-right: 0;
    }
    .thematicPage #banner .left img {
        display: block;
    }
    .thematicPage #banner .big-title {
        width: 100%;
        z-index: 2;
        padding: 2vw;
        background-color: #000;
    }
    .thematicPage .big-title>p {
        font-size: 8vw;
    }
    .thematicPage .big-title .loca-btn p {
        font-size: 2.3vw;
    }
    .thematicPage #banner .right {
        background-color: #000;
    }
    .thematicPage #list {
        display: flex;
    }
    .thematicPage #list .box-layout2 {
        width: 50%;
    }
    .thematicPage #list p {
        font-size: 3vw;
    }
}

.herb .left .cover {
    border: 2px solid #000;
    border-radius: 50%;
    overflow: hidden;
}

.herb .left .cover img {
    display: block;
    width: 100%;
}

.herb .content .title {
    font-size: 3vw;
    font-family: Sabon_Roman;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #000;
}

.herb .content .desc {
    display: flex;
    flex-wrap: wrap;
}

.herb .content .desc .openPopup {
    margin-bottom: 15px;
    margin-right: 10px;
    cursor: pointer;
    color: #0072ca;
    text-decoration: underline;
    width: calc(100% / 3 - 10px);
}

@media (max-width: 1024px) {
    .herb .container .left {
        border-bottom: 1px solid #000;
    }
    .herb .content .title {
        font-size: 5vw;
    }
    .herb .content .desc .openPopup {
        width: calc(100% / 2 - 10px);
    }
}


/* ==========================================================================

SARS page

========================================================================== */

.sarsPage #banner {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/plants/sars_mainBanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 680px;
}

.sarsPage #banner .left {
    border-right: 1px solid #fff;
}

.sarsPage #banner .right .article {
    color: #fff;
    line-height: 1.5;
}

.sarsPage #list {
    flex-wrap: wrap;
}

.sarsPage #list .box-layout2 {
    display: flex;
    width: calc(100% / 3);
    flex-direction: column;
    border-right: 1px solid #000;
    padding: 25px;
    padding-bottom: 0;
}

.sarsPage #list .box-layout2:last-child {
    border-right: 0px;
}

.sarsPage #list .box-layout2 .cover {
    border-radius: 50%;
    border: 2px solid #000;
    overflow: hidden;
    width: 65%;
    margin: 0 auto;
    text-align: center;
}

.sarsPage #list .box-layout2 .cover img {
    transition: all 1s ease-out;
    width: 100%;
    display: block;
}

.sarsPage #list .box-layout2 .cover:hover img {
    transform: scale(1.2);
}

.sarsPage #list .box-layout2 .desc {
    display: flex;
    margin-top: 25px;
    border-top: 1px solid #000;
    font-family: Sabon_Roman;
    width: calc(100% + 50px);
    margin-left: -25px;
}

.sarsPage #list .box-layout2 .desc .left {
    padding: 15px;
    width: 75%;
    border-right: 1px solid #000;
    text-align: left;
    font-size: 1.5vw;
}

.sarsPage #list .box-layout2 .desc .right {
    width: 25%;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sarsPage #list .box-layout2 .desc .right p {
    font-size: 1vw;
}

@media (max-width: 1024px) {
    .sarsPage #banner {
        background: none;
    }
    .sarsPage #banner .left {
        position: relative;
        padding: 0;
        border-right: 0;
    }
    .sarsPage #banner .big-title {
        width: 70%;
        position: absolute;
        bottom: 2vw;
        left: 2vw;
        z-index: 2;
        padding-bottom: 10px;
    }
    .sarsPage #banner .left img {
        display: block;
    }
    .sarsPage #banner .right {
        background-color: #000000;
    }
    .sarsPage #list {
        display: flex;
    }
    .sarsPage #list .box-layout2 {
        width: 100%;
        border-bottom: 1px solid #000;
    }
    .sarsPage #list .box-layout2 .desc .left {
        font-size: 5vw;
    }
    .sarsPage #list .box-layout2 .desc .right p {
        font-size: 2vw;
    }
}


/* ==========================================================================

Green house page

========================================================================== */

.greenhousePage #banner {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/plants/greenhouse/greenhouse_mainBanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 680px;
}

.greenhousePage #banner .left {
    border-right: 1px solid #fff;
}

.greenhousePage #banner .right .article {
    color: #fff;
    line-height: 1.5;
}

.greenhousePage #list {
    flex-wrap: wrap;
}

.greenhousePage #list .box-layout2 {
    display: flex;
    width: 25%;
    flex-direction: column;
    padding: 2vw;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.greenhousePage #list .box-layout2 .cover {
    border-radius: 50%;
    border: 2px solid #000;
    overflow: hidden;
    cursor: pointer;
}

.greenhousePage #list .box-layout2 .cover a {
    display: block;
}

.greenhousePage #list .box-layout2 .cover img {
    transition: all 1s ease-out;
    width: 100%;
    display: block;
}

.greenhousePage #list .box-layout2 .cover:hover img {
    transform: scale(1.2);
}

.greenhousePage #list .box-layout2:nth-child(1) {
    border-top: 1px solid #000;
}

.greenhousePage #list p {
    margin-top: 25px;
    padding: 2vw 0;
    border-top: 2px solid #000;
    text-align: center;
    font-size: 1.5vw;
    font-family: Sabon_Roman;
}

@media (max-width: 1024px) {
    .greenhousePage #banner {
        background: none;
    }
    .greenhousePage #banner .left {
        position: relative;
        padding: 0;
        border-right: 0;
    }
    .greenhousePage #banner .big-title {
        width: 70%;
        position: absolute;
        bottom: 2vw;
        left: 2vw;
        z-index: 2;
        padding-bottom: 10px;
    }
    .greenhousePage #banner .left img {
        display: block;
    }
    .greenhousePage #banner .right {
        background-color: #000000;
    }
    .greenhousePage #list {
        display: flex;
    }
    .greenhousePage #list .box-layout2 {
        width: 50%;
    }
    .greenhousePage #list p {
        font-size: 3.2vw;
    }
}


/* ==========================================================================

For all animals

========================================================================== */

.animal-info {
    display: flex;
    flex-wrap: wrap;
}

.animal-info .left {
    width: 50%;
    border-right: 1px solid #000;
    padding: 2vw;
}

.animal-info .left.no-padding {
    padding: 0;
}

.animal-info .gallery .swiper-slide {
    text-align: center;
    padding: 2vw;
}

.animal-info .left .cover {
    border: 2px solid #000;
    border-radius: 50%;
    overflow: hidden;
}

.animal-info .left .cover a,
.animal-info .left .cover img {
    display: block;
    width: 100%;
}

.animal-info .right {
    width: 50%;
    padding: 2vw;
}

.animal-info .right p {
    font-size: 1.25vw;
}

.animal-info .right span {
    font-size: 1vw;
}

.animal-info .right .info {
    margin-bottom: 25px;
}

.animal-info .right .info .title {
    width: 70%;
    float: left;
}

.animal-info .right .info img {
    float: right;
    width: 30%;
    max-width: 150px;
}

.animal-info .right .info .title .name {
    font-size: 3vw;
    font-family: Sabon_Roman;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.animal-info .right .info .title .scientific {
    font-size: 1.25vw;
}

.animal-info .right table {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    font-size: 1.25vw;
    width: 100%;
    color: #000;
}

.animal-info .right table tr td {
    padding: 15px 0;
    width: 50%;
}

.animal-info .right table tr:first-child td:last-child {
    padding: 15px;
}

.animal-info .right table tr:first-child td:first-child {
    border-bottom: 1px solid #000;
}

.animal-info .right table tr td:first-child {
    border-right: 1px solid #000;
}

.animal-info .right .behaviour {
    margin-bottom: 25px;
    padding: 25px 0;
    border-bottom: 1px solid #000;
}

.animal-info .right .location p {
    float: left;
    width: 70%;
}

.animal-info .right .location img {
    float: right;
    width: 30%;
    max-width: 150px;
}

.animal-info .right .video {
    display: flex;
    align-items: center;
}

.animal-info .right .video p {
    margin-right: 15px;
}

@media (max-width: 1500px) {
    .animal-info .right .location img,
    .animal-info .right .info img {
        max-width: 110px;
    }
}

@media (max-width: 1024px) {
    .animal-info .left,
    .animal-info .right {
        width: 100%;
    }
    .animal-info .left {
        border-bottom: 1px solid #000;
        border-right: 0;
    }
    .animal-info .right .info .title .name {
        font-size: 5vw;
    }
    .animal-info .right .info .title .scientific {
        font-size: 3vw;
    }
    .animal-info .right p,
    .animal-info .right table {
        font-size: 2.4vw;
    }
    .animal-info .right span {
        font-size: 1.8vw;
    }
    .animal-info .right .location img,
    .animal-info .right .info img {
        max-width: 70px;
    }
}

@media (max-width: 600px) {
    .animal-info .right .info,
    .animal-info .right .info .title .name,
    .animal-info .right .behaviour {
        margin-bottom: 2vw;
    }
    .animal-info .right table tr td,
    .animal-info .right .behaviour {
        padding: 2vw 0;
    }
    .animal-info .right table tr:first-child td:last-child {
        padding: 2vw;
    }
    .animal-info .right .video img {
        width: 30px;
    }
}


/* ==========================================================================

For all tree

========================================================================== */

.tree-info {
    display: flex;
    flex-wrap: wrap;
}

.tree-info .left {
    width: 50%;
    padding: 2vw;
    border-right: 1px solid #000;
}

.tree-info .left .cover {
    border: 2px solid #000;
    border-radius: 50%;
    overflow: hidden;
    max-height: 770px;
    max-width: 770px;
}

.tree-info .left .cover a,
.tree-info .left .cover img {
    display: block;
    width: 100%;
}

.tree-info .right {
    width: 50%;
    padding: 2vw;
}

.tree-info .right p {
    font-size: 1.25vw;
}

.tree-info .right span {
    font-size: 1vw;
}

.tree-info .right .content .title {
    font-size: 3vw;
    font-family: Sabon_Roman;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.tree-info .right .content .desc {
    font-size: 1vw;
    font-family: GraphikLight;
    line-height: 1.5;
}

.tree-info .right .content .desc a {
    text-decoration: underline;
}

.tree-info .right table {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    font-size: 1.25vw;
    width: 100%;
    color: #000;
    margin-bottom: 15px;
}

.tree-info .right table tr td {
    padding: 15px 0;
    width: 50%;
}

.tree-info .right table tr td:last-child {
    padding: 15px;
}

.tree-info .right table tr:not(:last-child) td {
    border-bottom: 1px solid #000;
}

.tree-info .right table tr td:first-child {
    border-right: 1px solid #000;
}

@media (max-width: 1024px) {
    .tree-info .left,
    .tree-info .right {
        width: 100%;
    }
    .tree-info .left {
        border-bottom: 1px solid #000;
        border-right: 0;
    }
    .tree-info .right .content .title {
        font-size: 5vw;
    }
    .tree-info .right .content .desc {
        font-size: 3.4vw;
    }
    .tree-info .right p,
    .tree-info .right table {
        font-size: 3.4vw;
    }
    .tree-info .right span {
        font-size: 3vw;
    }
    .tree-info .right .location img,
    .tree-info .right .info img {
        max-width: 70px;
    }
}


/* ==========================================================================

For all heritage

========================================================================== */

.heritage-info {
    display: flex;
    flex-wrap: wrap;
}

.heritage-info .left {
    width: 50%;
    padding: 2vw;
    border-right: 1px solid #000;
}

.heritage-info .left .cover {
    border: 2px solid #000;
    border-radius: 50%;
    overflow: hidden;
}

.heritage-info .left .cover a,
.heritage-info .left .cover img {
    display: block;
    width: 100%;
}

.heritage-info .right {
    width: 50%;
}

.heritage-info .right .content {
    padding: 2vw;
}

.heritage-info .right .content .title {
    font-size: 3vw;
    font-family: Sabon_Roman;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.heritage-info .right .content .desc {
    font-size: 1vw;
    font-family: GraphikLight;
    line-height: 1.5;
    text-align: justify;
}

.heritage-info .right table {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 100%;
    color: #000;
}

.heritage-info .right table tr td {
    padding: 25px;
    width: 50%;
    text-align: center;
    vertical-align: middle;
}

.heritage-info .right table tr td p {
    font-size: 0.8vw;
}

.heritage-info .right table tr:not(:last-child) td {
    border-bottom: 1px solid #000;
}

.heritage-info .right table tr td:first-child {
    border-right: 1px solid #000;
}

.heritage-info .year img {
    max-height: 250px;
}

@media (max-width: 1024px) {
    .heritage-info .left,
    .heritage-info .right {
        width: 100%;
    }
    .heritage-info .left {
        border-bottom: 1px solid #000;
        border-right: 0;
    }
    .heritage-info .right .content .title {
        font-size: 5vw;
    }
    .heritage-info .right .content .desc,
    .heritage-info .right table tr td p {
        font-size: 2.4vw;
    }
    .heritage-info .right table {
        border-bottom: 0px;
    }
    .heritage-info .right table tr td {
        display: block;
        width: 100%;
        clear: both;
    }
    .heritage-info .right table tr td:first-child {
        border-right: 0px;
    }
    .heritage-info .right table tr td:not(:last-child) {
        border-bottom: 1px solid #000;
    }
}


/* ==========================================================================

New and media page

========================================================================== */

.newsPage .container {
    display: flex;
}

.newsPage #banner .left {
    width: 31.3%;
    padding: 2vw;
    background-color: #65859a;
}

.newsPage #banner .left .page-title {
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 3.33vw;
    font-family: Sabon_Roman;
    padding-bottom: 20px;
}

.newsPage #banner .right {
    padding-top: 39%;
    position: relative;
    overflow: hidden;
    width: 68.7%;
}

.newsPage #banner .right #video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.newsPage #gallery .left {
    width: 31.3%;
    padding: 2vw;
    background-color: #345367;
    display: flex;
    align-items: center;
}

.newsPage #gallery .left .title {
    color: #fff;
    font-size: 2.6vw;
    font-family: Sabon_Roman;
}

.newsPage #gallery .right {
    width: 68.7%;
    display: flex;
}

.newsPage #gallery .right .arrow {
    background-color: white;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    width: 70px;
    position: relative;
}

.newsPage #gallery .right .arrow:first-child {
    border-left: 0;
}

.newsPage #gallery .right .arrow:last-child {
    border-right: 0;
}

.newsPage #gallery .right .arrow .swiper-button-prev {
    background-image: url("../images/common/left_arrow_mobile.png");
    content: "";
    width: 22px;
    height: 40px;
    margin-top: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.newsPage #gallery .right .arrow .swiper-button-next {
    background-image: url("../images/common/right_arrow_mobile.png");
    content: "";
    width: 22px;
    height: 40px;
    margin-top: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.newsPage #gallery .video-playlist {
    width: calc(100% - 140px);
}

.video-playlist .swiper-slide {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px;
}

.video-playlist .swiper-slide .cover {
    position: relative;
}

.video-playlist .swiper-slide .cover>img {
    cursor: pointer;
}

.video-playlist .swiper-slide .cover .overlay {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    transition: opacity 0.5s;
    cursor: pointer;
}

.video-playlist .swiper-slide .cover .overlay img {
    position: absolute;
    width: 20%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
    cursor: pointer;
}

.video-playlist .swiper-slide .cover .overlay:hover {
    opacity: 0;
}

.newsPage #slider .left,
.newsPage #slider .right {
    width: 50%;
    text-align: center;
    padding: 20px 0;
}

.newsPage #slider .left {
    border-right: 1px solid #000;
}

.newsPage #slider .sub-title {
    font-size: 2.6vw;
    font-family: Sabon_Roman;
    margin-bottom: 40px;
}

.newsPage #slider .left .sub-title {
    margin-bottom: 50px;
}

.newsPage #slider .swiper-container p {
    padding: 25px;
    padding-bottom: 0;
    font-size: 1.2vw;
    width: 60%;
    margin: 0 auto;
    line-height: 1.5;
}

.newsPage #slider .swiper-button-prev {
    background-image: url("../images/common/left_arrow_mobile.png");
    content: "";
    width: 22px;
    height: 40px;
    margin-top: 0;
    top: 50%;
    transform: translateY(-50%);
}

.newsPage #slider .swiper-button-next {
    background-image: url("../images/common/right_arrow_mobile.png");
    content: "";
    width: 22px;
    height: 40px;
    margin-top: 0;
    top: 50%;
    transform: translateY(-50%);
}

.photo-list {
    padding-top: 20px;
}

.photo-list .swiper-slide a {
    background-color: #444;
}

.photo-list .swiper-slide div {
    transition: all 0.5s;
    background-color: #666;
}

.photo-list .swiper-slide div:hover {
    transform: translate(-5px, -5px);
}

.photo-list .swiper-slide img {
    transition: all 0.5s;
    height: 100%;
}

.photo-list .swiper-slide div:hover img {
    transform: translate(-5px, -3px);
}

@media (max-width: 1024px) {
    .newsPage .container {
        display: block;
    }
    .newsPage section .left,
    .newsPage section .right {
        width: 100% !important;
    }
    .newsPage #banner .left .page-title {
        border-bottom: 0;
        font-size: 8vw;
        padding-bottom: 0;
    }
    .newsPage #banner .right {
        padding-top: 56%;
    }
    .newsPage #gallery .left .title {
        font-size: 4.5vw;
    }
    .newsPage #gallery .right .arrow {
        width: 40px;
    }
    .newsPage #gallery .video-playlist {
        width: calc(100% - 80px);
    }
    .video-playlist .swiper-slide {
        padding: 2vw;
    }
    .newsPage #slider .left,
    .newsPage #slider .right {
        width: 100%;
    }
    .newsPage #slider .left {
        border-bottom: 1px solid #000;
        border-right: 0;
    }
    .newsPage #slider .sub-title {
        margin-bottom: 25px;
        font-size: 4.5vw;
    }
    .newsPage #slider .left .sub-title {
        margin-bottom: 0px !important;
    }
    .newsPage #slider .swiper-container p {
        font-size: 2.5vw;
    }
}

@media (max-width: 1150px) {
    .photo-list .swiper-slide {
        padding: 0 45px;
    }
}


/* ==========================================================================

Flower of the month page

========================================================================== */

.monthPage #banner {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/plants/month/month_mainBanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 680px;
}

.monthPage #banner .left {
    border-right: 1px solid #fff;
}

.monthPage .common .big-title {
    margin-bottom: 45px;
}

.month-nav {
    display: flex;
}

.month-btn {
    background-color: #9ca964;
    width: calc(100% / 5);
    text-align: center;
    font-size: 1.8vw;
    font-family: Sabon_Roman;
    padding: 25px;
    border-right: 1px solid #000;
    cursor: pointer;
}

.month-btn:hover,
.month-btn.active {
    background-color: #67742c;
    color: #fff;
}

.monthPage #flower-list {
    flex-wrap: wrap;
}

.monthPage #flower-list .month-block {
    width: calc(100% / 4);
    padding: 2.35vw;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.monthPage #flower-list .month-block .cover {
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #000;
    position: relative;
}

.monthPage #flower-list .month-block .cover img {
    transition: all 1s ease-out;
}

.monthPage #flower-list .month-block .cover:hover img {
    transform: scale(1.2);
}

.monthPage #flower-list .month-block .cover a,
.monthPage #flower-list .month-block .cover img {
    display: block;
    cursor: pointer;
    width: 100%;
}

.monthPage #flower-list .month-block .info {
    margin-top: 25px;
    border-top: 2px solid #000;
    text-align: center;
    padding: 25px;
}

.monthPage #flower-list .month-block .info .month {
    font-family: Sabon_Roman;
    font-size: 1.5vw;
}

@media (max-width: 1350px) {
    .monthPage #flower-list .month-block {
        width: calc(100% / 3);
    }
}

@media (max-width: 1024px) {
    .monthPage .common {
        display: flex;
    }
    .monthPage .common .big-title {
        margin-bottom: 0;
    }
    .monthPage #banner {
        background: none;
    }
    .monthPage #banner .left {
        position: relative;
        padding: 0;
        border-right: 0;
    }
    .monthPage #banner .left img {
        display: block;
    }
    .monthPage #banner .big-title {
        width: 75%;
        position: absolute;
        bottom: 2vw;
        left: 2vw;
        z-index: 2;
        padding-bottom: 10px;
    }
    .monthPage #banner .right {
        display: none;
    }
    .month-btn {
        padding: 2vw;
        font-size: 2.8vw;
    }
    .monthPage #flower-list {
        display: flex;
    }
    .monthPage #flower-list .month-block {
        width: calc(100% / 2);
    }
    .monthPage #flower-list .month-block .info .month {
        font-size: 2.8vw;
    }
}

.monthInside #banner .left {
    padding: 0;
    border-right: 1px solid #fff;
}

.monthInside #banner .left img {
    display: block;
}

.monthInside #banner .right {
    position: relative;
    background-color: #000;
}

.monthInside #banner .right .big-title {
    font-size: 3.3vw;
    width: 90%;
    position: absolute;
    bottom: 2vw;
    left: 2vw;
    z-index: 2;
    padding-bottom: 10px;
}

.monthInside #flower-list {
    display: flex;
    flex-wrap: wrap;
}

.monthInside .flower-block {
    width: 50%;
    padding: 2vw 0;
    display: flex;
    border-top: 1px solid #000;
}

.monthInside .flower-block:nth-child(odd) {
    border-right: 1px solid #000;
}

.monthInside .flower-block .left,
.monthInside .flower-block .right {
    padding: 0;
}

.monthInside .flower-block .left {
    text-align: center;
    border-right: 1px solid #000;
}

.monthInside .flower-block .right {
    padding: 1.5vw;
}

.monthInside .flower-block .cover {
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #000;
    display: inline-block;
}

.monthInside .flower-block .cover img {
    display: block;
}

.monthInside .flower-block p {
    margin-bottom: 15px;
}

.monthInside .flower-block .info {
    border-bottom: 1px solid #000;
    margin-bottom: 15px;
}

.monthInside .flower-block .name {
    font-family: Sabon_Roman;
    font-size: 1.3vw;
}

.monthInside .flower-block .origin {
    font-size: 1vw;
}

#location-map p {
    border-bottom: 1px solid #000;
    text-align: center;
    width: 100%;
    font-size: 2.5vw;
    padding: 2vw;
    font-family: Sabon_Roman;
}

#location-map img {
    display: block;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .monthInside #banner .left {
        border-right: 0;
    }
    .monthInside #banner .right {
        padding: 2vw;
    }
    .monthInside #banner .right .big-title {
        font-size: 8vw;
        position: static;
    }
    .monthInside .flower-block {
        width: 100%;
        border-right: 0;
    }
    .monthInside .flower-block:nth-child(2n+1) {
        border-right: 0;
    }
    .monthInside .flower-block .left,
    .monthInside .flower-block .right {
        padding: 2vw;
    }
    .monthInside .flower-block .name {
        font-size: 5vw;
    }
    .monthInside .flower-block .origin {
        font-size: 3vw;
    }
}


/* ==========================================================================

Edu page

========================================================================== */

.eduPage #banner .left {
    background-color: #000;
    border-right: 1px solid #fff;
}

.eduPage #banner .left .article {
    color: #fff;
    margin-top: 25px;
}

.eduPage #banner .right {
    padding: 0;
}

.eduPage #banner .right img {
    display: block;
}

.eduPage #list {
    flex-wrap: wrap;
}


/*NEW*/

.eduPage #list .box-wrap {
    width: calc(100% / 4 + 1px);
    padding: 2vw;
    border: 1px solid #000;
    margin: 0 -1px -1px 0;
}

.eduPage #list .box-wrap .cover {
    border-radius: 50%;
    border: 2px solid #000;
    overflow: hidden;
    margin-bottom: 2vw;
    cursor: pointer;
}

.eduPage #list .box-wrap .cover img {
    transition: all 1s ease-out;
    width: 100%;
    display: block;
}

.eduPage #list .box-wrap .cover:hover img {
    transform: scale(1.2);
}

.eduPage #list .box-wrap p {
    padding-top: 2vw;
    border-top: 2px solid #000;
    text-align: center;
    font-size: 1.4vw;
    font-family: Sabon_Roman;
    cursor: pointer;
    line-height: 1.4;
}

.eduPage #list .box-wrap .btn-details {
    padding: 1rem;
    display: block;
    margin: 25px auto 0;
    text-align: center;
    background: #444;
    color: #FFF;
    border-radius: 5px;
}

.eduPage #list .box-wrap .btn-details:hover {
    background: #666;
}


/* 
.eduPage #list .box-layout2 {
    display: flex;
    width: 25%;
    flex-direction: column;
    padding: 2vw;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.eduPage #list .box-layout2 .cover {
    border-radius: 50%;
    border: 2px solid #000;
    overflow: hidden;
    cursor: pointer;
}

.eduPage #list .box-layout2 .cover a {
    display: block;
}

.eduPage #list .box-layout2 .cover img {
    transition: all 1s ease-out;
    width: 100%;
    display: block;
}

.eduPage #list .box-layout2 .cover:hover img {
    transform: scale(1.2);
}

.eduPage #list p {
    margin-top: 25px;
    padding: 2vw 0;
    border-top: 2px solid #000;
    text-align: center;
    font-size: 1.5vw;
    font-family: Sabon_Roman;
} */

.eduPage .popup_img {
    max-height: 550px;
}

@media (max-width: 1024px) {
    .eduPage #banner {
        display: flex;
        flex-wrap: wrap;
    }
    .eduPage #banner .left,
    .eduPage #banner .right {
        width: 100%;
    }
    .eduPage #banner .left {
        order: 2;
        border-right: 0;
    }
    .eduPage #banner .left .article {
        margin-top: 2vw;
    }
    .eduPage #banner .right {
        order: 1;
        border-bottom: 1px solid #fff;
    }
    .eduPage #list {
        display: flex;
    }
    .eduPage #list .box-wrap {
        width: calc(50% + 1px);
        position: relative;
        padding-bottom: 10vh;
    }
    .eduPage #list .box-wrap .btn-details {
        width: 100px;
        position: absolute;
        bottom: 10px;
        left: 50%;
        margin-left: -50px;
        font-size: 1rem;
    }
    .eduPage #list .box-wrap p {
        font-size: 4vw;
    }
    /* .eduPage #list .box-layout2 {
        width: 50%;
    }
    .eduPage #list p {
        font-size: 3.2vw;
    } */
}


/* ==========================================================================

Text only page

========================================================================== */

.textonly .container {
    display: flex;
}

.textonly .container .left,
.textonly .container .right {
    width: 50%;
    padding: 2vw;
}

.textonly .container .left {
    border-right: 1px solid #000;
}

.textonly .container .right {
    min-height: 500px;
}

.textonly .container .left .big-title {
    font-size: 3.3vw;
    font-family: Sabon_Roman;
    border-bottom: 1px solid #000;
    padding-bottom: 15px;
}

.textonly .article,
.textonly .flex {
    font-size: 1vw;
    line-height: 1.5;
}

.textonly .flex {
    display: block;
}

.textonly .flex p {
    flex: none;
    width: 49%;
    padding: 0;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.textonly .flex p:nth-child(2),
.textonly .flex p:nth-child(5) {
    padding-left: 15px;
}

.textonly .flex p:nth-child(1),
.textonly .flex p:nth-child(4) {
    border-right: 1px solid #000;
}

.textonly .flex hr {
    margin: 15px 0;
    width: 100%;
    height: 1px;
    background-color: #000;
}

.textonly.sitemap .right a {
    margin-bottom: 10px;
}

@media (max-width: 1024px) {
    .textonly .container {
        display: block;
    }
    .textonly .container .left,
    .textonly .container .right {
        width: 100%;
    }
    .textonly .container .left {
        border-right: 0;
    }
    .textonly .container .left .big-title {
        font-size: 8vw;
    }
    .textonly .article,
    .textonly .flex {
        font-size: 3vw;
    }
}


/* ==========================================================================

Footer

========================================================================== */

footer {
    background-color: #fff;
}

footer .footer-wrapper {
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    background-image: url('/assets/images/bg/footer_BGpattern.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer .footer-wrapper .menu {
    display: flex;
    justify-content: space-around;
}

footer .footer-wrapper .menu a {
    padding: 20px 0;
    font-family: Sabon_Roman;
    font-size: 1.75em;
    width: 100%;
    text-align: center;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

footer .footer-wrapper .menu a:last-child {
    border-right: 0px;
}

footer .list-group {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    line-height: 1.5;
}

footer .list-group tbody {
    width: 100%;
}

footer .list-group th {
    border-bottom: 2px solid #000000;
    text-align: left;
    vertical-align: bottom;
    width: calc(100% / 4);
}

footer .list-group tr {
    display: flex;
}

footer .list-group .list-group-item {
    list-style: none;
    text-align: left;
    width: calc(100% / 4);
}

footer table.list-group tr>th {
    padding: 9px 55px 9px 0;
}

footer .list-group a {
    font-family: GraphikLight;
    font-size: 1.125em;
}

footer .list-group .list-group-item p {
    width: 100%;
    border-bottom: 2px solid #000;
    height: 40px;
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    padding-bottom: 5px;
    padding-right: 35%;
    font-family: GraphikLight;
    font-size: 1.125em;
}

footer .list-group .list-group-item>ul {
    list-style: none;
    padding-left: 0;
    padding-right: 10%;
    padding-top: 10px;
}

footer .list-group .list-group-item>ul li {
    padding: 5px 0;
}

footer .list-group .list-group-item>ul li a {
    vertical-align: top;
}

footer .info {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

footer .info .left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

footer .info img {
    padding-right: 15px;
}

footer .info .right {
    width: 14%;
}

footer .info .right .link {
    margin-bottom: 20px;
}

footer .info .right a {
    margin-bottom: 10px;
}

footer .copyright {
    padding: 30px;
    font-family: GraphikLight;
    font-size: 1.125em;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

@media (max-width: 1350px) {
    footer .footer-wrapper .menu a {
        font-size: 1.125em;
    }
    footer .list-group .list-group-item p {
        font-size: 0.875em;
        padding-right: 0;
    }
    footer .list-group .list-group-item>ul li {
        font-size: 0.875em;
        padding: 10px 0;
    }
    footer .info img {
        max-width: 120px;
    }
}

@media (max-width: 1024px) {
    footer .footer-wrapper .menu,
    footer .list-group,
    footer .info .right .link {
        display: none;
    }
    footer .info {
        align-items: center;
        flex-direction: column-reverse;
    }
    footer .info .right {
        width: 100%;
        text-align: center;
    }
    footer .copyright {
        text-align: center;
        padding: 10px 0;
        font-size: 0.875em;
    }
}

@media (max-width: 568px) {}


/* ==========================================================================

Nav

========================================================================== */

.nav-menu {
    margin-bottom: 35px;
}

.nav-menu .nav-btn {
    cursor: pointer;
}

.nav-content {
    display: none;
}

.nav-content.active {
    display: block;
}


/* ==========================================================================

Popup Modal

========================================================================== */

#popupModal {
    line-height: 1.5em;
}

#popupModal .popup-title {
    position: relative;
}

#popupModal .popup-title p {
    font-size: 2em;
    color: #cc2c06;
}

#popupModal .news-block {
    padding: 30px 0;
}

#popupModal .news-block .title {
    font-size: 1.5em;
    color: #0a6e81;
    text-align: center;
    margin-bottom: 20px;
}

#popupModal .news-block .desc {
    font-size: 1.2em;
    color: #333;
}

#popupModal .news-block .desc table {
    max-width: 100%;
}

#popupModal .news-block .desc .table-wrapper {
    margin: 30px 0;
    max-width: 100%;
    overflow: auto;
}

#popupModal .news-block .desc table th,
#popupModal .news-block .desc table td {
    padding: 10px;
    border: 1px solid red;
}

#popupModal .news-block .desc table tr:first-child td {
    color: #0a6e81;
}

#popupModal .close-btn {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 3%;
    min-width: 20px;
    cursor: pointer;
}

#popupModal .modal-dialog {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - (2rem * 2));
}

@media (min-width: 1192px) {
    #popupModal .modal-dialog {
        width: 1100px;
    }
}

#popupModal .modal-content {
    width: 100%;
    border-radius: 0px;
}

#popupModal .modal-body {
    padding: 5% 6%;
}


/* ==========================================================================

Loading overlay

========================================================================== */

.loading-overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url("../images/common/loading-bg.jpg");
    background-size: cover;
    background-position: center center;
    z-index: 9999;
    text-align: center;
}

.loading-overlay .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
    max-width: 200px;
    min-width: 150px;
}

.loading-overlay .logo .logo-img {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

.loading-overlay .frame {
    max-width: 1700px;
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

body.loading-overlay-open {
    overflow: hidden;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* ==========================================================================

Zoom

========================================================================== */

.zoom {
    background-position: 50% 50%;
    position: relative;
    width: 500px;
    overflow: hidden;
    cursor: zoom-in;
}

.zoom img:hover {
    opacity: 0;
}

.zoom img {
    transition: opacity 0.5s;
    display: block;
    width: 100%;
}


/* ==========================================================================

COMMON Popup

========================================================================== */

.modal {}

.modal .modal-dialog {
    max-width: 1360px;
    transform: translateY(-50%);
    top: 50%;
    text-align: center;
}

.modal .modal-content {
    padding: 50px 30px;
    display: inline-block;
    position: relative;
    font-size: 1.2em;
    line-height: 1.5;
}

.modal:not(.animals) .close_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 35px;
    cursor: pointer;
}

.modal .popup-table {
    width: 100%;
}

.modal .popup-table td {
    border: 1px solid #000;
    padding: 10px;
}

@media (max-width: 600px) {
    #newPopup .popup-table.mobile_show {
        display: table;
    }
}


/* ==========================================================================

Video Popup

========================================================================== */

.videoModal .modal-dialog {
    max-width: 1360px;
    width: 90%;
    transform: translateY(-50%);
    top: 50%;
    margin: 0 auto;
}

.videoModal .modal-content {
    background-color: transparent;
    border: 0px;
    box-shadow: none;
    display: block;
}

.videoModal .modal-body {
    padding: 0;
}

.videoModal .video-content .trailer_area {
    position: relative;
    padding-top: 70vh;
    max-width: 1200px;
    margin: 0 auto;
}

.videoModal iframe {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}


/* ==========================================================================

animals Popup

========================================================================== */

.modal.animals .modal-content {
    padding: 0;
    border-radius: 0;
}

.modal.animals .modal-header {
    border-bottom: 1px solid #000;
    padding: 0;
}

.modal.animals .close {
    float: right;
    border-left: 1px solid #000;
    padding: 10px;
    display: flex;
    cursor: pointer;
}

.modal.animals .modal-body {
    display: flex;
    padding: 0;
}

.modal.animals .modal-body .left,
.modal.animals .modal-body .right {
    width: 50%;
}

.modal.animals .modal-body .left {
    border-right: 1px solid #000;
    padding: 2vw;
}

.modal.animals .modal-body .left .cover {
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #000;
}

.modal.animals .modal-body .left .cover img {
    display: block;
}

.modal.animals .modal-body .right {
    text-align: left;
}

.modal.animals .modal-body .right .info {
    border-bottom: 1px solid #000;
    padding: 15px;
}

.modal.animals .modal-body .right .info .title {
    width: 70%;
    float: left;
}

.modal.animals .modal-body .right .info img {
    float: right;
    width: 30%;
    max-width: 150px;
}

.modal.animals .modal-body .right .info .name {
    font-size: 2vw;
    font-family: Sabon_Roman;
    text-transform: uppercase;
}

.modal.animals .modal-body .right .info .scientific {
    font-size: 1vw;
}

.modal.animals .modal-body .right .type {
    font-size: 1.8vw;
    font-family: Sabon_Roman;
    text-transform: uppercase;
    padding: 15px;
    border-bottom: 1px solid #000;
}

.modal.animals .modal-body .right .distribution {
    padding: 15px;
    font-size: 1vw;
}

.modal.animals .modal-body .right .distribution span {
    font-size: 0.9vw;
}

.modal.animals .modal-body .right .video {
    padding: 15px;
    display: flex;
    align-items: center;
}

.modal.animals .modal-body .right .video p {
    margin-right: 15px;
}

@media (max-width: 1024px) {
    .modal.animals .modal-body .right .info .name {
        font-size: 4vw;
    }
    .modal.animals .modal-body .right .info .scientific {
        font-size: 2.6vw;
    }
    .modal.animals .modal-body .right .type {
        font-size: 3.5vw;
    }
    .modal.animals .modal-body .right .distribution {
        font-size: 2.6vw;
    }
    .modal.animals .modal-body .right .distribution span {
        font-size: 2.4vw;
    }
}

@media (min-width: 768px) {
    .modal.animals .modal-dialog {
        width: 50%;
        min-width: 730px;
    }
}


/* ==========================================================================

Map

========================================================================== */

#filter {}

#filter .filter-block {
    width: calc(100% / 5);
    border-right: 1px solid #000;
    position: relative;
    padding: 15px;
    display: flex;
    align-items: center;
    min-height: 4vw;
}

#filter .filter-block:last-child {
    border-right: 0;
}

#filter .filter-block>p {
    font-size: 1.5vw;
    position: relative;
    padding-right: 45px;
    width: 100%;
    cursor: pointer;
}

#filter .filter-block>p:after {
    position: absolute;
    right: 0;
    top: 50%;
    content: '';
    transform: translateY(-50%);
    background-image: url(../images/common/menu_dropdown.png);
    width: 34px;
    height: 18px;
    background-size: cover;
}

#filter .filter_menu {
    display: none;
    width: calc(100% + 2px);
    padding: 0 15px;
    position: absolute;
    left: -1px;
    top: 100%;
    z-index: 3;
    font-size: 1.5vw;
    background-color: #fff;
    cursor: pointer;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
}

#filter .filter_menu.active {
    display: block;
}

#filter .filter_menu a {
    width: 100%;
    padding: 15px 0;
    min-height: 4vw;
    display: flex;
    align-items: center;
    border-top: 1px solid #000;
    position: relative;
    padding-right: 35px;
}

#filter .filter_menu a:after {
    position: absolute;
    right: 0;
    top: 50%;
    content: '';
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #000;
}

#filter .filter_menu a.active:after {
    background-color: #000;
}

#map-container {
    position: relative;
    overflow: hidden;
    height: 90vh;
    background-color: #d0cbb7;
}

#map {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transition: transform 0.5s ease-out 0s;
}

#controls {
    position: absolute;
    right: 2%;
    top: 2%;
    display: flex;
    flex-direction: column;
}

#controls button {
    border: 0;
    font-size: 25px;
    cursor: pointer;
    background-color: #fff;
    margin: 0;
    width: 25px;
    padding: 0;
}

#controls button.btn-scale-up {
    border-bottom: 1px solid #000;
    border-radius: 5px 5px 0 0;
}

#controls button.btn-scale-down {
    border-radius: 0 0 5px 5px;
}

.map-point {
    position: absolute;
    max-width: 1.8vw;
    display: none;
    transform: translate(-50%, -50%);
}

.map-point[data-id="43"],
.map-point[data-id="44"] {
    max-width: none;
    width: 100%
}

@media (max-width: 1024px) {
    .mapPage section.common {
        display: flex;
    }
    #filter .filter-block {
        padding: 5px;
        height: 8vw;
    }
    #filter .filter-block>p:after {
        width: 17px;
        height: 9px;
    }
    #filter .filter_menu {
        padding: 0 5px;
    }
    #filter .filter_menu a {
        padding: 5px 0;
        min-height: 8vw;
    }
    #filter .filter_menu a:after {
        width: 10px;
        height: 10px;
    }
}


/*Coming soon pages*/

.comingsoonPage .big-title {
    font-size: 3vw;
    font-family: Sabon_Roman;
    color: #000;
    text-align: center;
    padding: 80px;
    background-color: #fff;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

@media (max-width: 1024px) {
    .comingsoonPage .big-title {
        padding: 30px;
        font-size: 5vw;
    }
}

#loader-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    z-index: 1000;
    background-color: blue;
    max-width: 1700px;
    width: 90%;
}


/* Album Page Style */

.albumPage .width-50 {
    width: 50%;
}

.albumPage .title {
    font-size: 3.33vw;
    font-family: Sabon_Roman;
    height: 262px;
    padding: 30px;
    display: table-cell;
    vertical-align: middle;
    border-left: 1px solid #000;
}

.albumPage .flex-container {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 1px);
}

.albumPage .flex-container .flex-item {
    border: 1px solid #000;
    margin: 0 -1px -1px 0;
}

.albumPage .img-container .flex-item {
    width: calc(50% + 1px);
    height: 265px;
    display: flex;
}

.albumPage .img-container img {
    margin: auto;
    align-self: center;
    justify-self: center;
}

.albumPage .sub-container {
    margin-left: -1px;
    width: calc(100% + 2px);
}

.albumPage .sub-container .flex-item {
    width: calc(25% + 1px);
}

.albumPage .main-image {
    display: flex;
    justify-content: center;
}

.albumPage .main-image img {
    display: block;
    margin: auto;
}

@media (max-width: 1024px) {
    .albumPage .width-50 {
        width: calc(100% + 1px);
        margin-left: -1px;
    }
    .albumPage .title {
        height: auto;
        padding: 30px;
        display: table-cell;
        vertical-align: middle;
        border-left: 0;
    }
    .albumPage .img-container .flex-item {
        height: auto;
        padding: 10px;
    }
    .albumPage .sub-container .flex-item {
        width: calc(50% + 1px);
    }
    .albumPage .flex-container {
        margin-left: -1px;
    }
    .albumPage .main-image img {
        width: calc(100% - 1px);
        margin-left: 1px;
    }
}