/* ==========================================================================
   Include Fonts
   ========================================================================== */


/*  @font-face {
  font-family: ADAMCG;
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/ADAM_CG_PRO.eot);
  src: url(../fonts/ADAM_CG_PRO.eot?#iefix) format('embedded-opentype'),
	   url(../fonts/ADAM_CG_PRO.woff) format('woff'),
	   url(../fonts/ADAM_CG_PRO.ttf) format('truetype');
	   url(../fonts/ADAM_CG_PRO.otf);
}   */


/* ==========================================================================
   Normalization
   ========================================================================== */

body {
    font-size: 16px;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 0;
    line-height: 1;
}

ul,
ol {
    margin: 0;
    padding-left: 22px;
}

a,
i {
    display: inline-block;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
    text-decoration: none;
    color: initial;
    color: #333;
}

a:hover,
a:focus,
a:link {
    text-decoration: none;
    outline-offset: 0;
}

a:hover {
    opacity: 0.8;
}

p {
    font-size: 1em;
    color: #333;
}

input {
    padding: 0;
}

input:focus {
    outline: 0;
}

img {
    max-width: 100%;
}

iframe {
    border: 0;
    float: left;
    width: 100%;
}


/* ==========================================================================
   End Normalization
   ========================================================================== */