@media (max-width: 1600px){
	.highlight .big-title .month{
		margin-bottom:15px;
		font-size:1.5em;
	}
	.highlight .big-title .news{
	    font-size:3em;
    }
	.list-item .item .subject{
		font-size:2.25em;
		padding: 25px 20px;
	}
	.list-item .item .name{
		font-size:1.5em;
	}
	.list-item .item .number {
		width: 60px;
		height: 60px;
	}
	.list-item .item .number p{
		font-size:1em;
	}
}
@media (max-width: 1350px){
	.show-list .nav p{
		font-size:3em;
	}
	.show-list .nav a{
		font-size:1.875em;
	}
	.slider .swiper-button-prev, .slider .swiper-button-next{
		width: 50px;
		height: 50px;
		background-size: cover;
	}
}
@media (max-width: 1024px){
	main{
		width:95%;
	}
	.highlight .big-title .month{
		font-size: 1.3125em;
	}
	section.show-list{
		display: block;
	}
	.show-list .nav{
		width:100%;
		writing-mode:lr;
		display:block;
		text-align:center;
		border-bottom:1px solid #000;
		padding:25px 0;
	}
	.show-list .nav .sub-title{
		display:block;
		line-height: 1;
	}
	.show-list .nav p{
		margin-bottom:0;
		font-size:3em;
	}
	.show-list .nav a{
		font-size:1.3125em;
	}
	.show-list .animal .swiper-slide .subject{
		padding:20px;
		font-size:3em;
	}
	.show-list .animal .swiper-slide .name{
		font-size: 1.3125em;
	}
	.slider .swiper-slide .title{
		margin-top: 10px;
	}
	#modal1.modal .modal-content span{
		font-size:1.2em;
	}
	#modal1.modal .modal-content p{
		font-size:1em;
	}
}
@media (max-width: 768px){
	section.highlight{
		display:block;
	}
	.highlight .big-title{
		width:100%;
		padding: 20px;
	}
	.highlight .big-title .month{
		font-size:1em;
		margin-bottom: 10px;
	}
	.highlight .big-title .news{
		font-size:1.75em;
	}
	.highlight .main-banner{
		width:100%;
		padding-top:72%;
	}
	.show-list .nav p{
		font-size:1.75em;
	}
	.show-list .nav a{
		font-size:1em;
	}
	.show-list .animal .swiper-slide .subject{
		padding: 20px 20px;
		font-size: 1.5em;
	}
	.show-list .animal .swiper-slide .number{
		width: 45px;
		height: 45px;
	}
	.show-list .animal .swiper-slide .number p{
		font-size:1em;
	}
	.show-list .animal .swiper-slide .name{
		padding: 15px;
		font-size: 1.125em;
	}
	.slider .swiper-slide .title{
		margin: 15px 0;
	}
	.slider .swiper-button-prev, .slider .swiper-button-next{
		width:25px;
		height:25px;
	}

	.monthPage #banner {
        min-height: unset;
    }
}