<div class="footer-wrapper">
    <div class="menu">
        <a href="/tc/visitPage.html">關於我們</a>
        <a href="/tc/contact.html">聯絡我們</a>
        <a href="/tc/new&media.html">媒體庫</a>
        <a href="https://www.lcsd.gov.hk/tc/facilities/facilitieslist/parks.html" target="_blank">其他公園</a>
        <a href="https://www.lcsd.gov.hk/tc/index.html" target="_blank">返回康文署</a>
    </div>
    <table class="list-group">
        <tr>
            <th><a href="/tc/index.html">主頁</a></th>
            <th><a href="/tc/visitPage.html">參觀</a></th>
            <th><a href="/tc/animals.html">動物</a></th>
            <th><a href="/tc/plants.html">植物</a></th>
        </tr>
        <tr>
            <td class="list-group-item">
                <ul>
                    <li><a href="/tc/plants/month.html#2022">每月開花植物</a></li>
                    <li><a href="/tc/animals/mammals/animals_4.html">精選動物</a></li>
                    <li><a class="toAnchor" href="/tc/ConservationAndEducation.html#activities">活動</a></li>
                </ul>
            </td>
            <td class="list-group-item">
                <ul>
                    <li><a href="/tc/visitPage.html#garden-info">開放時間及入場費用</a></li>
                    <li><a href="/tc/visitPage.html#guide-info">如何前往</a></li>
                    <li><a href="/tc/map.html">公園地圖</a></li>
                    <li><a href="/tc/guided_visit.html">公園導賞團</a></li>
                </ul>
            </td>
            <td class="list-group-item">
                <ul>
                    <li><a onClick="load_program_list('mammals')" href="/tc/animals.html#mammals">哺乳類</a></li>
                    <li><a onClick="load_program_list('birds')" href="/tc/animals.html#birds">鳥類</a></li>
                    <li><a onClick="load_program_list('reptiles')" href="/tc/animals.html#reptiles">爬行類</a></li>
                </ul>
            </td>
            <td class="list-group-item">
                <ul>
                    <li><a href="/tc/plants/OVT.html">古樹名木</a></li>
                    <li><a href="/tc/plants/special.html">特別及稀有品種</a></li>
                    <li><a href="/tc/plants/month.html#2022">每月開花植物</a></li>
                    <li><a href="/tc/plants/thematic.html">植物專類園</a></li>
                    <li><a href="https://www.lcsd.gov.hk/tc/green/blossoms.html" target="_blank">賞花好去處</a></li>
                    <li><a href="/tc/plants/greenhouse.html">溫室</a></li>
                </ul>
            </td>
        </tr>
    </table>

    <table class="list-group">
        <tr>
            <th><a href="/tc/heritage & history.html">古蹟及歷史</a></th>
            <th><a href="/tc/ConservationAndEducation.html">保育及教育</a></th>
            <th><a href="/tc/new&media.html">媒體庫及下載</a></th>
            <th><a href="/tc/150th.html">香港動植物公園150周年慶祝活動</a></th>
        </tr>
        <tr>
            <td class="list-group-item">
                <ul>
                    <li><a href="/tc/heritage/history.html">公園歷史</a></li>
                    <li><a href="/tc/heritage/memorial.html">紀念牌坊(華人紀念碑)</a></li>
                    <li><a href="/tc/heritage/statuekg.html">銅像</a></li>
                    <li><a href="/tc/heritage/fountain.html">噴水池</a></li>
                    <li><a href="/tc/heritage/pavilion.html">涼亭</a></li>
                    <li><a href="/tc/heritage/stonepillar.html">石柱及台階</a></li>
                    <li><a href="/tc/heritage/gatepillars.html">花園道閘門門柱</a></li>
                    <li><a href="/tc/heritage/steps.html">通往噴水池平台台階</a></li>
                </ul>
            </td>
            <td class="list-group-item">
                <ul>
                    <li><a class="toAnchor" href="/tc/ConservationAndEducation.html#activities">活動</a></li>
                    <li><a href="/tc/education.html">動物教育</a></li>
                    <li><a href="../tc/happy@park.html">冬日賞繪．香港動植物公園</a></li>
                    <li><a href="/tc/zoo_education.html">2022動物教育展覽</a></li>
                </ul>
            </td>
            <td class="list-group-item">
                <ul>
                    <li><a href="/tc/new&media.html">短片廊</a></li>
                    <li><a class="toAnchor" href="/tc/new&media.html#photo-gallery">照片廊</a></li>
                    <li><a class="toAnchor" href="/tc/new&media.html#download">下載</a></li>
                </ul>
            </td>
            <td class="list-group-item">
                <ul>
                    <li><a href="/tc/roving.html">香港動植物公園150周年巡回展覽</a></li>
                    <li><a href="/tc/guided_visit.html">公園導賞活動</a></li>
                    <li><a href="/tc/competition.html">攝影及短片創作比賽</a></li>
                    <li><a href="/tc/musical.html">150周年啟動典暨黃昏音樂會</a></li>
                    <li><a href="/assets/pdf/Thematic Talks on Greening and Conservation.pdf" target="_blank">綠化及保育專題講座</a></li>
                    <li><a href="/tc/hor_education.html">園藝教育展覽 2021</a></li>
                    <li><a href="/tc/showcase.html">150周年紀念短片廊</a></li>
                    <li><a href="/tc/ChristmasCarnival150th.html">聖誕嘉年華</a></li>

                </ul>
            </td>
        </tr>
    </table>

    <div class="info">
        <div class="left">
            <a href="https://www.lcsd.gov.hk/tc/"><img src="/assets/images/logo/img-footer-lcsd.png "></a>
            <a href="https://www.gov.hk/tc/"><img src="/assets/images/logo/img-footer-govhk.png "></a>
            <a href="hhttps://www.brandhk.gov.hk/zh-hk/"><img src="/assets/images/logo/img-footer-dragon.png "></a>
            <a href="https://www.w3.org/TR/WCAG20/"><img width="150 " src="/assets/images/logo/wcag2.svg "></a>
        </div>
        <div class="right">
            <p class="link"><a href="/tc/sitemap.html">網站地圖</a></p>
            <p class="link"><a href="https://www.lcsd.gov.hk/tc/notice.html" target="_blank">重要告示</a></p>
            <p class="link"><a href="https://www.lcsd.gov.hk/tc/info_pdo.html" target="_blank">私隱政策</a></p>
            <a class="share fb">
                <img src="/assets/images/common/sns_fb.png">
            </a>
            <a href="#">
                <img src="/assets/images/common/sns_ig.png">
            </a>
            <a class="share tw">
                <img src="/assets/images/common/sns_twitter.png">
            </a>
            <a class="share wb">
                <img src="/assets/images/common/sns_weibo.png">
            </a>
            <a class="share email">
                <img src="/assets/images/common/sns_email.png">
            </a>
            <a href="#">
                <img src="/assets/images/common/sns_youtube.png">
            </a>
        </div>
    </div>
    <div class="copyright">© 2021 康樂及文化事務署 版權所有</div>
</div>

<script>
    $('html').attr('lang', 'zh-HK');

    $('html').find('img').each(
        function() {
            var alt = $(this).attr('alt');
            if (typeof alt == undefined || alt == null || alt == "") {
                var src = $(this).attr('src');
                src = src.replace(/^.*[\\\/]/, '');
                src = src.split('.')[0];
                $(this).attr('alt', src);
            }
        }
    );
</script>