<div class="wrapper">
    <div class="left">
        <a href="/tc/index.html" style="display: block;"><img src="/assets/images/logo/logo_hkzbg_v3.jpg" alt="logo" /></a>
    </div>
    <div class="right">
        <div class="menu">
            <img id="open-menu-btn" src="/assets/images/common/icon_menu_v2.png" alt="menu" />
            <p>目錄</p>
        </div>
        <div class="open-menu">
            <div class="menu-block">
                <p><a href="/tc/index.html">主頁</a></p>
                <ul class="sub-menu-block">
                    <li><a href="/tc/plants/month.html#2022">每月開花植物</a></li>
                    <li><a href="/tc/animals/mammals/animals_4.html">精選動物</a></li>
                    <li><a href="/tc/ConservationAndEducation.html#activities">活動</a></li>
                </ul>
            </div>
            <div class="menu-block">
                <p><a href="/tc/visitPage.html">參觀</a></p>
                <ul class="sub-menu-block">
                    <li><a href="/tc/visitPage.html#garden-info">開放時間及入場費用</a></li>
                    <li><a href="/tc/visitPage.html#guide-info">如何前往</a></li>
                    <li><a href="/tc/map.html">公園地圖</a></li>
                    <li><a href="/tc/guided_visit.html">公園導賞團</a></li>
                </ul>
            </div>
            <div class="menu-block">
                <p><a href="/tc/animals.html">動物</a></p>
                <ul class="sub-menu-block">
                    <li><a class="toAnchor" onClick="load_program_list('mammals')" href="/tc/animals.html#mammals">哺乳類</a></li>
                    <li><a class="toAnchor" onClick="load_program_list('birds')" href="/tc/animals.html#birds">鳥類</a></li>
                    <li><a class="toAnchor" onClick="load_program_list('reptiles')" href="/tc/animals.html#reptiles">爬行類</a></li>
                </ul>
            </div>
            <div class="menu-block">
                <p><a href="/tc/plants.html">植物</a></p>
                <ul class="sub-menu-block">
                    <li><a href="/tc/plants/OVT.html">古樹名木</a></li>
                    <li><a href="/tc/plants/special.html">特別及稀有品種</a></li>
                    <li><a href="/tc/plants/month.html#2022">每月開花植物</a></li>
                    <li><a href="/tc/plants/thematic.html">植物專類園</a></li>
                    <li><a href="https://www.lcsd.gov.hk/tc/green/blossoms.html" target="_blank">賞花好去處</a></li>
                    <li><a href="/tc/plants/greenhouse.html">溫室</a></li>
                </ul>
            </div>
            <div class="menu-block">
                <p><a href="/tc/heritage & history.html">古蹟及歷史</a></p>
                <ul class="sub-menu-block">
                    <li><a href="/tc/heritage/history.html">公園歷史</a></li>
                    <li><a href="/tc/heritage/memorial.html">紀念牌坊(華人紀念碑)</a></li>
                    <li><a href="/tc/heritage/statuekg.html">銅像</a></li>
                    <li><a href="/tc/heritage/fountain.html">噴水池</a></li>
                    <li><a href="/tc/heritage/pavilion.html">涼亭</a></li>
                    <li><a href="/tc/heritage/stonepillar.html">石柱及台階</a></li>
                    <li><a href="/tc/heritage/gatepillars.html">花園道閘門門柱</a></li>
                    <li><a href="/tc/heritage/steps.html">通往噴水池平台台階</a></li>
                </ul>
            </div>
            <div class="menu-block">
                <p><a href="/tc/ConservationAndEducation.html">保育及教育</a></p>
                <ul class="sub-menu-block">
                    <li><a class="toAnchor" href="/tc/ConservationAndEducation.html#activities">活動</a></li>
                    <li><a href="/tc/education.html">動物教育</a></li>
                </ul>
            </div>
            <div class="menu-block">
                <p><a href="/tc/new&media.html">媒體庫及下載</a></p>
                <ul class="sub-menu-block">
                    <li><a href="/tc/new&media.html">短片廊</a></li>
                    <li><a class="toAnchor" href="/tc/new&media.html#photo-gallery">照片廊</a></li>
                    <li><a class="toAnchor" href="/tc/new&media.html#download">下載</a></li>
                </ul>
            </div>
            <div class="menu-block"><a href="/tc/sitemap.html">網站地圖</a></div>
            <div class="menu-block"><a href="https://www.lcsd.gov.hk/tc/notice.html" target="_blank">重要告示</a></div>
            <div class="menu-block"><a href="https://www.lcsd.gov.hk/tc/info_pdo.html" target="_blank">私隱政策</a></div>
            <div class="function">
                <div class="lang">
                    <span class="eng" onclick="change_lang('en')">EN</span> |
                    <span class="chi active">繁</span> |
                    <span class="sc" onclick="change_lang('sc')">简</span>
                </div>
                <div class="fontSize">
                    <span style="font-size:14px;" onclick="change_font_size('s')">A</span>
                    <span style="font-size:16px;" class="active" onclick="change_font_size('m')">A</span>
                    <span style="font-size:18px" onclick="change_font_size('l')">A</span>
                </div>
            </div>
        </div>
    </div>
</div>